[2021-10-27 19:05] RaphielAinsworth opened #8 "About spring cloud 2020.x.x support"
have any plans or when to release SpringCloud 2020.x.x version support ?

[2021-11-12 07:07] andrewshan commented on #8
we plan to release in 2022 early, will you interest to contribute this feature?

[2021-11-19 04:32] chuntaojun commented on #8
At present, we have realized the initial docking of spring cloud 2020.x, the code is already in the corresponding branch, and it is still being tested. If you are interested, can we invite you to join us?

[2021-11-25 10:28] yagrxu opened #14 "Helmchart support with default namespace"
**What is the feature you want to add?**
I would like to deploy the cluster in K8s with helmchart, and also with a default namespace like "polarishmesh"

**Why do you want to add this feature?**
1. helmchart provide more features to tweak with deployment variables
2. a namespace other than "default" is more appropriate for registry component

**How to implement this feature?**

**Additional contex

[2021-11-25 10:31] #14 closed

[2021-11-25 10:31] yagrxu commented on #14
forget it...

[2021-12-03 12:53] andrewshan opened #16 "Support quickstart example"
**What is the feature you want to add?**

**Why do you want to add this feature?**

**How to implement this feature?**

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-12-29 08:06] SkyeBeFreeman opened #22 "Add non-explicit service name configuration support in SpringCloudGateway"
**What is the feature you want to add?**

I want non-explicit service name configuration support in SpringCloudGateway. See [The DiscoveryClient Route Definition Locator](https://cloud.spring.io/spring-cloud-gateway/reference/html/#the-discoveryclient-route-definition-locator).

**Why do you want to add this feature?**

When using configuration like this:
[code]
"404 Not Found" error will be throw

[2021-12-31 02:34] chuntaojun opened #23 "PolarisDiscoveryHandler 中获取实例不能调用 GetAllInstances 这个方法，应该使用 GetInstances"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment**
- Version: [e.g. v1.0.0]
- OS: [e.g. CentOS8]

**Additional context**
Add any other context about the problem here.

[2021-12-31 04:05] chuntaojun opened #24 "add spring codestyle"
**What is the feature you want to add?**

https://cloud.spring.io/spring-cloud-kubernetes/multi/multi__contributing.html

**Why do you want to add this feature?**

**How to implement this feature?**

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-01-04 03:05] #23 closed

[2022-01-04 12:21] SkyeBeFreeman opened #27 "Need a unified version number"
**What is the feature you want to add?**

Update version number.

**Why do you want to add this feature?**

**How to implement this feature?**

**Additional context**
Add any other context or screenshots about the feature request here.

No.

[2022-01-05 01:45] #27 closed

[2022-01-07 06:40] yangjuanying opened #29 "How to modify the default namespace of service using Polaris SDK"
I can use configuration with "spring.cloud.polaris.address=grpc://127.0.0.1:8091" to specify Polaris registry address And "spring.application.name=xxx" to specify registry service，but I don't know how to modify the default namespace of the service？

[2022-01-07 06:52] SkyeBeFreeman commented on #29
Using `spring.cloud.polaris.discovery.namespace` in application.yml to set namespace. I will append this in the document later.

[2022-01-07 08:36] #29 closed

[2022-01-10 07:32] yangjuanying opened #31 "Polaris is not flexible and extensible enough to set metadata，I hope it can be set metadata through code"
Polaris is not flexible and extensible enough to set metadata here. This only through configuration “spring cloud.tencent.metadata” to set metadata. It is impossible to set metadata through code.
<img width="1181" alt="wecom-temp-8c5546bddccf659393ced1df2725525c" src="https://user-images.githubusercontent.com/7542593/148729742-2c396a1d-15c8-4363-b64a-1dee943ccd52.png">

But Spring Cloud Consul and

[2022-01-10 08:32] chuntaojun commented on #31
Okay, let's think about it here, and welcome to participate in the co-construction together to provide support for this ability~

[2022-01-10 08:32] chuntaojun commented on #31
@SkyeBeFreeman what do you think

[2022-01-18 07:02] #22 closed

[2022-01-20 09:10] SkyeBeFreeman opened #33 "Chinese document should be optimized."

[2022-02-09 12:11] xiaoyao1999hn opened #35 "the server address only support one ip"

[2022-02-14 05:21] #35 closed

[2022-02-14 06:23] xiaoyao1999hn opened #37 "MetadataConfiguration.MetadataFeignPluginConfig采用@Configuration定义全局拦截器导致feign接口定义的内部类拦截器失效"
如下图所示，用户自定义的拦截器会失效，不再被调用
<img width="1176" alt="image" src="https://user-images.githubusercontent.com/25003047/153811016-2bf4846d-66c0-43f0-ae82-e12416771195.png">

[2022-03-02 13:01] SkyeBeFreeman opened #39 "Potential security vulnerabilities in dependencies."
**Describe the bug**
See [Dependabot alerts](https://github.com/Tencent/spring-cloud-tencent/security/dependabot)

**To Reproduce**
Update dependencies.

**Expected behavior**
Remove the alert.

**Environment**
- Version: 1.1.4

**Additional context**
No.

[2022-03-02 13:13] SkyeBeFreeman opened #40 "Support multi-discovery server."
What is the feature you want to add?

Let the spring-cloud-tencent support multiple discovery server.

Why do you want to add this feature?

When using another discovery server and what to change to polaris, can use this feature to realize smooth migration.

How to implement this feature?

Loading multiple discovery configuration and using polaris-java to realize this feature.

Additional context

[2022-03-14 03:26] SkyeBeFreeman opened #43 "Support custom gateway rate-limit switch"
**What is the feature you want to add?**

When using spring-cloud-tencent-polaris-gateway, rate-limit can be configured if enabled.

**Why do you want to add this feature?**

**How to implement this feature?**

Add configuration properties to configure it.

**Additional context**

No.

[2022-03-14 08:27] #39 closed

[2022-03-14 10:46] #40 closed

[2022-03-15 07:01] andrewshan opened #45 "ratelimit needs to support metadata"
![image](https://user-images.githubusercontent.com/45474304/158323853-b471d90e-509f-4838-bc52-e61c848dd2eb.png)

当前实现只支持方法，没有支持http头部消息

[2022-03-16 11:02] SkyeBeFreeman opened #46 "User can customize the ip which be registered."
**What is the feature you want to add?**

User can customize the ip which be registered.

**Why do you want to add this feature?**

User may want to set custom ip address.

**How to implement this feature?**

User set custom ip address in configuration file.

**Additional context**

No.

[2022-03-16 11:45] #46 closed

[2022-03-21 12:57] SkyeBeFreeman opened #50 "Optimize project structure."
**What is the feature you want to add?**

1. Remove spring-cloud-tencent-polaris-gateway.
2. Add spring-cloud-gateway support in spring-cloud-starter-tencent-ratelimit and spring-cloud-tencent-metadata.

**Why do you want to add this feature?**

Optimize project structure.

**How to implement this feature?**

**Additional context**

No.

[2022-03-23 07:21] michaelwangwangwang opened #52 "Log frame conflict"
When I use stc, I get the error of log frame conflict
![image](https://user-images.githubusercontent.com/69467855/159644351-8b277ede-d597-4dda-9cfe-400050507384.png)

There may be the conflict between the log framework in my project and the log framework of stc

Does stc have plans to switch to log4j logging framework?

[2022-03-23 08:15] #52 closed

[2022-03-25 08:11] #16 closed

[2022-03-25 09:32] #33 closed

[2022-03-25 09:32] #24 closed

[2022-03-25 09:32] #50 closed

[2022-03-25 09:32] #37 closed

[2022-03-25 10:07] #43 closed

[2022-03-25 10:10] SkyeBeFreeman commented on #31
It is a good idea to customize the metadata with code. I will add this enhancement later.

[2022-03-25 10:35] SkyeBeFreeman opened #58 "Maintain a CHANGELOG"

[2022-03-28 02:28] bolinli opened #60 "Access link "[使用polaris-java]" won't open"
[使用polaris-java](https://github.com/polarismesh/website/blob/main/docs/zh/doc/%E5%BF%AB%E9%80%9F%E5%85%A5%E9%97%A8/%E4%BD%BF%E7%94%A8polaris-java.md)
404Not Found

[2022-03-28 02:49] SkyeBeFreeman commented on #60
Thx for reporting bug.

[2022-03-28 02:49] #60 closed

[2022-03-28 11:46] SkyeBeFreeman opened #62 "Divide storage and transfer of metadata."
**What is the feature you want to add?**

Divide storage and transfer of metadata.

**Why do you want to add this feature?**

User can choose whether using transfer of metadata or not.

**How to implement this feature?**

Put storage of metadata into spring-cloud-tencent-commons and create spring-cloud-starter-tencent-metadata-transfer.

**Additional context**
No.

[2022-03-28 12:08] #62 closed

[2022-03-28 12:10] SkyeBeFreeman opened #64 "Add a CHANGELOG file"
Add a CHANGELOG file to record important PR.

[2022-03-28 12:16] #58 closed

[2022-03-28 12:17] #64 closed

[2022-03-28 12:19] SkyeBeFreeman opened #66 "Optimize dependencies and notes."
**What is the feature you want to add?**

Optimize dependencies and notes.

**Why do you want to add this feature?**

Some codes are not professional.

**How to implement this feature?**

Optimize the project.

**Additional context**

No.

[2022-03-28 12:23] SkyeBeFreeman commented on #8
@RaphielAinsworth  Spring Cloud Tencent for 2020.0.5 will release in this week.

[2022-03-28 12:23] #8 closed

[2022-03-29 02:04] michaelwangwangwang opened #67 "heartbeat thread cannot be started when register again"
When I manually call spring's registration and deregistration interface (actually, the registration and deregistration methods of Polaris will be called), there is no problem with the deregistration, but when I call the registration interface again, the service can be registered normally, but the heartbeat thread fails to ope
<img width="1650" alt="wecom-temp-7931ab6bec41889548e442e0be16f6f8" src=

[2022-03-30 02:25] #66 closed

[2022-04-07 12:02] lepdou opened #92 "Add feature switchs"
**What is the feature you want to add?**
Add siwtch for :

- spring.cloud.polaris.enabled
- spring.cloud.polaris.discovery.enabled
  - spring.cloud.polaris.discovery.register.enabled
  - spring.cloud.polaris.discovery.
- spring.cloud.polaris.${module}.enabled

**Why do you want to add this feature?**

**How to implement this feature?**

**Additional context**
Add any other context or screenshots a

[2022-04-07 12:04] lepdou opened #93 "CircuitBreaker should not report 4xx code as error code"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

should judge as bigger than 500

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment**
- Version: [e.g. v1.0.0]
- OS: [e.g. CentOS8]

**Additional context**
Add any other context about the problem here.

[2022-04-08 08:48] SkyeBeFreeman opened #95 "2020.0 dosen't run junit when run "mvn test""

[2022-04-11 08:02] xiaoyao1999hn opened #100 "开启心跳上报，由于ScheduledThreadPoolExecutor参数设置有误，导致cpu飙升到100%"
java版本：1.8.0_191
PolarisServiceRegistry启动心跳采用ScheduledThreadPoolExecutor来做定时上报，但是核心线程数设置为0，触发jdk的bug会导致cpu飙升到100%，如下图所示：
<img width="727" alt="image" src="https://user-images.githubusercontent.com/25003047/162691514-8d0efece-ff9a-4bde-a2e6-582947ac516a.png">
<img width="855" alt="image" src="https://user-images.githubusercontent.com/25003047/162691589-3bb91ebe-8759-4f79-b40f-99a6039f3b4b.png">
<im

[2022-04-12 03:58] #100 closed

[2022-04-15 09:04] #92 closed

[2022-04-15 09:32] #93 closed

[2022-04-15 09:32] lepdou commented on #67
Fixed

[2022-04-15 09:32] #67 closed

[2022-04-20 13:41] lepdou commented on #45
User can implement LabelResolve SPI to set labels for rate limit.
#105

[2022-04-20 13:42] lepdou commented on #45
The next version will support the label in the automatic parsing rule to be obtained from the request

[2022-05-06 12:22] SkyeBeFreeman opened #143 "Support config change listener."
**What is the feature you want to add?**

Support config change listener.
`com.tencent.polaris.configuration.client.internal.ConfigPropertiesFile#addChangeListener`

**Why do you want to add this feature?**

For listenning for configuration change events.

**How to implement this feature?**

TBD.

**Additional context**
No.

[2022-05-06 12:25] SkyeBeFreeman opened #144 "Supplemental unit tests."
**What is the feature you want to add?**

Supplemental unit tests.

**Why do you want to add this feature?**

To standardize the development process.

**How to implement this feature?**

Supplemental unit tests for every CLASS.

**Additional context**

No.

[2022-05-06 12:26] SkyeBeFreeman opened #145 "Add metadata transfer example."

[2022-05-06 12:27] SkyeBeFreeman opened #146 "Support metric reporting."
**What is the feature you want to add?**

Support metric reporting.

**Why do you want to add this feature?**

It is needed to report metric of microservice.

**How to implement this feature?**

TBD.

**Additional context**

No.

[2022-05-06 12:30] SkyeBeFreeman opened #147 "Support custom tag parsing from rules."
**What is the feature you want to add?**

Support custom tag parsing from rules.

**Why do you want to add this feature?**

User can read tag or metadata from HTTP header, param and so on for routing, rate-limiting, circuit-breaking and so on.

**How to implement this feature?**

TBD.

**Additional context**

No.

[2022-05-07 08:28] #144 closed

[2022-05-09 07:19] ztaoge opened #148 "服务心跳上报异常(API_TIMEOUT)"
使用北极星上报心跳的时候，部分服务出现上报异常，异常日志如下：
2022-05-09 15:13:52 2022-05-09 15:13:52.977 [] [polaris-spring-cloud-heartbeat-1] ERROR com.tencent.cloud.polaris.registry.PolarisServiceRegistry - polaris heartbeat[API_TIMEOUT]
2022-05-09 15:13:52 com.tencent.polaris.api.exception.PolarisException: ERR-1004(API_TIMEOUT), heartbeat request timeout.
2022-05-09 15:13:52 	at com.tencent.polaris.discovery.client.api.De

[2022-05-09 07:33] SkyeBeFreeman commented on #148
@ztaoge 是否出现warn日志“heartbeat request error, retrying.”呢？

[2022-05-09 07:47] ztaoge commented on #148
没有，就只有这个error日志

[2022-05-09 10:01] SkyeBeFreeman commented on #148
添加以下依赖用于二次寻址
`<dependency>
    <groupId>com.tencent.polaris</groupId>
    <artifactId>router-nearby</artifactId>
</dependency>
<dependency>
    <groupId>com.tencent.polaris</groupId>
    <artifactId>router-metadata</artifactId>
</dependency>`

[2022-05-09 10:01] SkyeBeFreeman commented on #148
添加以下依赖用于二次寻址
`<dependency>
    <groupId>com.tencent.polaris</groupId>
    <artifactId>router-nearby</artifactId>
</dependency>
<dependency>
    <groupId>com.tencent.polaris</groupId>
    <artifactId>router-metadata</artifactId>
</dependency>`

[2022-05-10 07:51] #148 closed

[2022-05-11 02:27] michaelwangwangwang opened #157 "The service registered after the spring cloud gateway cannot be routed"
When the gateway is deployed first, and then the service registered to the registry cannot be routed by the gateway, a 404 error is reported

[2022-05-11 11:20] michaelwangwangwang opened #160 "Service double registration problem"
When the service is double-registered, the service nodes that have been offline in the consul single-registration cannot be excluded from Polaris

[2022-05-12 11:03] #160 closed

[2022-05-15 13:09] wuqingfeng234 opened #172 "support for springboot 2.6.x"
**What is the feature you want to add?**
support for spring boot 2.6.x
**Why do you want to add this feature?**
我们正在使用springboot 2.6.x，同时也有引入spring cloud tencent的打算，所以希望spring cloud tencent能够兼容springboot 2.6.x
**How to implement this feature?**
测试spring cloud tencent与springboot2.6.x兼容性，如果不兼容，调整代码使之兼容。
**Additional context**
No

[2022-05-16 07:45] michaelwangwangwang opened #173 "The gateway calls the service and reports a 404 error"
When a service is recorded on the Polaris console, the gateway is registered first, and the service is registered later, and the gateway will not be able to route to the service.

[2022-05-17 03:15] #173 closed

[2022-05-17 03:16] SkyeBeFreeman commented on #172
Will release in version of 1.5.0.

[2022-05-17 13:07] misselvexu commented on #172
So ~ We need to upgrade `spring-cloud-commons` version with `3.1.x` ?

[2022-05-17 14:25] SkyeBeFreeman commented on #172
Yes. Do you want to contribute to support Spring Cloud 2021.x?

[2022-05-19 07:05] misselvexu opened #185 "[Code Formatting] Is it necessary to add a unified code formatting plugin ."
**What is the feature you want to add?**
Add formatting plugins as required by the Spring Cloud community for code formatting .

**Why do you want to add this feature?**
Add maven plugin `spring-javaformat-maven-plugin`

[code]

**How to implement this feature?**
Add `spring-javaformat-maven-plugin` in parent `pom.xml` file .

**Additional context**
none .

[2022-05-19 07:27] SkyeBeFreeman commented on #185
I tried to add this plugin before, but the effect was not satisfactory, so I decided not to add it for the time being.

[2022-05-19 07:27] SkyeBeFreeman commented on #185
I tried to add this plugin before, but the effect was not satisfactory, so I decided not to add it for the time being.

[2022-05-19 07:27] #185 closed

[2022-05-19 07:41] misselvexu commented on #185
Got it .

[2022-05-20 04:08] misselvexu opened #189 "Upgrade third-party libs because current version brings in jars with CVEs"
**What is the feature you want to add?**

Upgrade third-party libs because current version brings in jars with CVEs .
eg:
- jackson-databind
- guava
- commons-collections
- httpclient

**Why do you want to add this feature?**

Upgrade the version of the dependency package specified in the section .

**How to implement this feature?**

none .

**Additional context**

- Provides transitive vulnerabl

[2022-05-20 04:51] misselvexu commented on #172
A little question, does the component support like zuul and Netflix ribbon need to be replaced or removed?

[2022-05-20 05:26] SkyeBeFreeman commented on #172
You can see branch [2020.0](https://github.com/Tencent/spring-cloud-tencent/tree/2020.0).

[2022-05-20 11:30] #145 closed, assigned to nobody

[2022-05-23 03:37] misselvexu commented on #172
Spring Cloud Tencent Adaptation 2021.x version number rules ?

[2022-05-23 08:02] misselvexu commented on #172
@SkyeBeFreeman
I have completed the compatibility of spring boot `2.6.x` and spring cloud `3.1.x`. Need to add a new branch (eg: `2021.x`)
 or do I just apply to merge to the `2020.0` branch?

[2022-05-23 09:09] SkyeBeFreeman commented on #172
I will create branch 2021.0 from branch 2020.0.

[2022-05-23 09:22] #147 closed

[2022-05-23 09:51] andrewshan opened #194 "Support example for gray release"

[2022-05-23 11:53] #194 closed

[2022-05-24 02:50] SkyeBeFreeman commented on #172
@misselvexu You can commit as 1.4.4-2021.0.2-SNAPSHOT and will release immediately.

[2022-05-25 06:58] ranchowang opened #200 "💡 Who is Using Spring Cloud Tencent"
## Who is using Spring Cloud Tencent

Thank everyone for choosing Spring Cloud Tencent. We created this issue to collect use cases so we can drive the Spring Cloud Tencent community to evolve in the right direction. We expect you to submit a comment on this issue to include the following information:

[code]

## 谁在使用北极星

感谢您选择 Spring Cloud Tencent。我们创建这个 Issue 来收集 Spring Cloud Tencent 的使用案例，帮助 Spr

[2022-05-25 14:11] #45 closed

[2022-05-25 14:20] SkyeBeFreeman commented on #146
Reopen this issue after polaris-java supporting prometheus pull mode.

[2022-05-27 09:22] lepdou commented on #189
@misselvexu

we will fix it at 1.6.0 version. Thanks~

[2022-05-27 10:36] misselvexu commented on #189
Copy that .

[2022-05-27 11:09] SkyeBeFreeman commented on #189
Close after fixing this issue.

[2022-05-30 12:41] SkyeBeFreeman commented on #172
1.4.3-2021.0.2 is released.

[2022-05-30 12:41] #172 closed

[2022-05-31 03:16] SkyeBeFreeman commented on #143
@misselvexu We need to develop a function to trigger user-defined event actions when listening for configuration file updates. Developers who wants to participate in contribution may need to provide a solution first, and then start development after discussion.

[2022-05-31 03:21] lepdou commented on #200
[code]

[2022-05-31 03:25] lepdou commented on #200
[code]

[2022-05-31 05:10] davionchen commented on #200
组织（必填）：香港富融银行
网址（必填）：www.fusionbank.com

[2022-05-31 06:08] Young200808 commented on #200
组织：腾讯云
网址：https://cloud.tencent.com/
产品：内部公共服务平台

[2022-05-31 11:24] xiaoyao1999hn commented on #200
组织：腾讯
网址：https://www.tencent.com/
产品：一站式数据治理，数仓建模平台 - 欧拉
LOGO：
![未标题-1](https://user-images.githubusercontent.com/25003047/171162188-f4a334ac-f858-45a2-92c0-d4fea7121a03.png)

[2022-06-02 15:38] misselvexu commented on #143
### There is implementation logic for the configuration change triggering user-defined behavior function.

#### Implementation logic

Based on an extension to the Polaris configuration change listener interface (`ConfigPropertiesFile#addChangeListener`), the configuration push received by the client is combined with the metadata of the configuration key bound by the listener annotation `@PolarisCo

[2022-06-07 03:36] lepdou commented on #143
@misselvexu
Thank you for your replay.

I thank we can refer to [ApolloConfigChangeListener.java](https://github.com/apolloconfig/apollo/blob/master/apollo-client/src/main/java/com/ctrip/framework/apollo/spring/annotation/ApolloConfigChangeListener.java).

The differences is :
1. No needed to implement PolarisConfigChangeListener.
2. The ApolloConfigChangeListener mostly assign to method not class

[2022-06-07 05:00] misselvexu commented on #143
Copy that , learn from Apollo's practice, pretty good .

[2022-06-07 10:15] misselvexu commented on #143
@lepdou  Please help me to review the implemented code .

[2022-06-07 10:58] lepdou commented on #143
@misselvexu
OK，I will review code in rencent days.

Thank you very much.

[2022-06-10 03:39] misselvexu opened #227 "[Document] Improve project reference documentation"
**What is the feature you want to add?**

Add new `spring-cloud-tencent-docs` module

**Why do you want to add this feature?**
Markdown files can be directly exported to Html or pdf format for easy maintenance.

**How to implement this feature?**

Use the `asciidoctor-maven-plugin` maven plugin to complete the build of the documentation module.
[code]

**Additional context**
Add any other context

[2022-06-10 08:18] SkyeBeFreeman opened #228 "SCG support service router."
**What is the feature you want to add?**

Router feature can be used in SCG application.

**Why do you want to add this feature?**

A complete microservice call includes the SCG, so the service routing feature needs to be implemented in the SCG as well.

**How to implement this feature?**

**Additional context**
No.

[2022-06-13 14:11] lepdou commented on #228
Implement in #230

[2022-06-14 07:11] vinartis opened #231 "服务注册和发现客户端依赖guava版本较低，会造成启动失败"
服务注册和发现客户端依赖guava版本较低，会造成启动失败
![8085938ddd7b31da240ea33f1365e1e](https://user-images.githubusercontent.com/4651907/173515631-21b1e21e-d904-4359-9807-df65fd936a54.png)
`at com.codemes.tencent.discovery.DiscoveryClientApp.main(DiscoveryClientApp.java:13) ~[classes/:na]
Caused by: java.lang.NoSuchMethodError: 'void com.google.common.base.Preconditions.checkArgument(boolean, java.lang.String, char, ja

[2022-06-14 10:01] #228 closed

[2022-06-15 01:14] vinartis opened #233 "ERR-1006(SERVER_USER_ERROR), server error 400141: heartbeat on disabled instance"
Describe the bug
写了一个简单的服务注册的示例，启动后报如下错误，大约报了6次后，停止报错
`2022-06-14 20:59:55.744 ERROR 1636 --- [oud-heartbeat-1] c.t.c.p.registry.PolarisServiceRegistry  : polaris heartbeat[SERVER_USER_ERROR]

com.tencent.polaris.api.exception.PolarisException: ERR-1006(SERVER_USER_ERROR), server error 400141: heartbeat on disabled instance
        at com.tencent.polaris.plugins.connector.grpc.GrpcUtil.checkRespon

[2022-06-15 01:45] SkyeBeFreeman commented on #233
到polaris-server目录找到日志，看下里面的报错信息

[2022-06-15 01:58] vinartis commented on #233
看哪个文件？没发现奇怪的错误，
![image](https://user-images.githubusercontent.com/4651907/173720053-e80523c2-a511-48f9-844c-34ab8b3ae60b.png)

[2022-06-15 02:20] SkyeBeFreeman commented on #233
这里是polaris-server的心跳缓存导致的问题，我这边联系北极星的开发者看下

[2022-06-15 02:27] vinartis commented on #233
[polaris-naming.log](https://github.com/Tencent/spring-cloud-tencent/files/8905177/polaris-naming.log)
[polaris-cache.log](https://github.com/Tencent/spring-cloud-tencent/files/8905179/polaris-cache.log)
补充两个日志文件

[2022-06-15 02:36] SkyeBeFreeman commented on #233
@chuntaojun cc

[2022-06-15 02:41] lepdou commented on #231
@vinartis
Thanks for report a bug.
We have reproduced the bug and will fix it in the next release.

[2022-06-16 03:49] SkyeBeFreeman opened #238 "提升spring-cloud-starter-tencent-metadata-transfer模块的单元测试覆盖率"
- 目标提升到80%以上
<img width="554" alt="image" src="https://user-images.githubusercontent.com/24446200/173997562-7be9408b-e60a-4517-bbfd-730832cd285f.png">

- 如何获取单侧覆盖率：
1. 项目根目录下运行`mvn test`
2. 项目根目录下用浏览器打开`target/site/jacoco/index.html`即可查看单侧覆盖率，点进去即可查看详细覆盖情况以作出补充

[2022-06-16 03:50] SkyeBeFreeman opened #239 "提升spring-cloud-tencent-polaris-loadbalancer模块的单元测试覆盖率"
- 目标提升到80%以上
<img width="551" alt="image" src="https://user-images.githubusercontent.com/24446200/173997684-f20e48c8-b8b3-42d8-9814-9ef585537f17.png">

- 如何获取单侧覆盖率：
1. 项目根目录下运行`mvn test`
2. 项目根目录下用浏览器打开`target/site/jacoco/index.html`即可查看单侧覆盖率，点进去即可查看详细覆盖情况以作出补充

[2022-06-16 03:51] SkyeBeFreeman opened #240 "提升spring-cloud-tencent-polaris-context模块的单元测试覆盖率"
- 目标提升到80%以上
<img width="551" alt="image" src="https://user-images.githubusercontent.com/24446200/174011090-75c97437-e7a7-46e7-b64a-9cea33bb5252.png">

- 如何获取单侧覆盖率：
1. 项目根目录下运行`mvn test`
2. 项目根目录下用浏览器打开`target/site/jacoco/index.html`即可查看单侧覆盖率，点进去即可查看详细覆盖情况以作出补充

[2022-06-16 03:53] #231 closed

[2022-06-16 06:59] SkyeBeFreeman opened #241 "Support circuitbreaker in RestTemplate"
**What is the feature you want to add?**

RestTemplate支持熔断功能。

**Why do you want to add this feature?**

使用RestTemplate也能接入北极星熔断。

**How to implement this feature?**

针对RestTemplate进行包装，在调用结束后上报调用结果，参考Feign的实现：
`https://github.com/Tencent/spring-cloud-tencent/blob/main/spring-cloud-starter-tencent-polaris-circuitbreaker/src/main/java/com/tencent/cloud/polaris/circuitbreaker/feign/PolarisFeignClien

[2022-06-16 07:13] SkyeBeFreeman opened #242 "服务注册发现支持优雅上下线"
**What is the feature you want to add?**

服务注册发现支持优雅上下线。

**Why do you want to add this feature?**

最终实现参考：
- 服务上线时，待服务准备完成，再注册。
- 服务下线时，先解注册，再待所有请求执行完成后，结束进程。

**How to implement this feature?**

实现代码前，需要在issue内提出方案，待讨论后再进行开发。

**Additional context**
No.

[2022-06-16 07:21] SkyeBeFreeman opened #243 "扩展actuator端点机制"
**What is the feature you want to add?**

扩展 Spring Boot  actuator 机制，暴露 SCT 内部的状态。

**Why do you want to add this feature?**

可以在运行时，查看服务治理相关信息。比如：
1. 当前内存里的某个服务地址列表
2. 各种服务治理规则
3. 配置中心下发的、保存在内存中的内容
4. 其他，可以补充

**How to implement this feature?**

扩展 Spring Boot  actuator 机制。

**Additional context**
No.

[2022-06-16 09:24] SkyeBeFreeman opened #245 "限流配置支持application.yml"
目前只支持`bootstrap.yml`配置，需要支持`application.yml`。

[2022-06-16 09:24] yekaka opened #246 "配置在nacos中的“spring.cloud.polaris.ratelimit.maxQueuingTime”未生效"
前提：springboot：2.3.4.RELEASE、 spring-cloud-starter-alibaba-nacos-config ：2.2.5.RELEASE
nacos配置的信息：spring.cloud.polaris.ratelimit.maxQueuingTime = 60000

RemoteAwareLeakyBucket(InitCriteria initCriteria, Configuration configuration) ..
这里没有拿到该配置数据；
配置在代码中“bootstrap.properties” 路径下可以。
nacos 的data Id: “application.properties”

[2022-06-16 09:29] lepdou commented on #31
@yangjuanying
I have add an SPI InstanceMetadataProvider in #244

[2022-06-16 09:31] #31 closed

[2022-06-16 09:58] #245 closed

[2022-06-16 12:40] SkyeBeFreeman opened #247 "“${”取消替换为“##@$@##”"
目前为了HTTP头部的符号校验问题，将“${”替换为“##@$@##”。

后续替换逻辑，不再替换这个符号，而是将HTTP头部进行编码，取出来的时候再解码，即可。

- 编码：
URLEncoder.encode(JacksonUtils.serialize2Json(labels), "UTF-8")

- 解码：
JacksonUtils.deserialize2Map(URLDecoder.decode(labelHeaderValue, "UTF-8"))

[2022-06-17 02:28] shuiqingliu commented on #243
申请认领该 issue 😁

[2022-06-17 06:59] Qsir-Q opened #248 "服务治理模块有做agent的想法吗"
SpringCloud的动态路由，灰度发布，标签路由，限流熔断等功能腾讯的大佬们有开发agent的计划吗，有的话可以带带我，我给各位大佬打下手

[2022-06-17 07:07] chuntaojun commented on #248
可以看下 polaris-java-agent：https://github.com/polarismesh/polaris-java-agent

[2022-06-17 08:30] Jack9610 opened #249 "感觉会火"
**What is the feature you want to add?**

**Why do you want to add this feature?**

**How to implement this feature?**

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-06-17 10:46] TomShiDi commented on #246
也许这个问题要去alibaba那边提

[2022-06-17 11:01] andrewshan commented on #248
欢迎参与polaris-java-agent的建设，polaris-java-agent可以集成sct的能力，给用户无侵入的服务治理体验

[2022-06-17 11:15] SkyeBeFreeman commented on #249
感谢支持~希望能看到您的使用或贡献哦^ ^

[2022-06-17 11:36] SkyeBeFreeman commented on #246
ratelimit模块在`application.properties`内配置的场景没有支持，在1.6.0版本进行修复。

[2022-06-18 12:31] cheese8 opened #252 "[Discuss] How about suppress the ImportOrder check?"
**Describe the discuss**
1、Checkstyle checks the `ImportOrder` for now.
2、Not found the community  document which shows the correct import order should be.
3、Is it too strict or not to check the import order?

@SkyeBeFreeman

[2022-06-18 13:26] SkyeBeFreeman commented on #252
You can check the code style standard created by Spring Cloud Team here [参与共建](https://github.com/Tencent/spring-cloud-tencent/wiki/参与共建#代码规范).

[2022-06-18 17:14] #252 closed

[2022-06-20 02:37] lepdou commented on #249
@Jack9610
感谢您的支持~

[2022-06-20 02:49] misselvexu commented on #243
@shuiqingliu  I have some ideas about `Actuator Endpoints` ，we can discuss this together ~

## SCT Actuator Endpoints Design

### 1. Service Discovery Endpoint

- Request path parameters (Request URL)

- Response body (Response)

[code]

### 2. Config Endpoint

- Request path parameters (Request URL)

- Response body (Response)

[code]

### 3. Service Governance Rules Endpoint

- Request path para

[2022-06-20 03:11] shuiqingliu commented on #243
@misselvexu Thanks for your design. Your design has inspired me a lot. I will refer to your design to develop and ask you if I have any questions.

[2022-06-20 06:41] ryanxys commented on #249
火钳刘明

[2022-06-20 07:17] wetsion commented on #249
火钳留名

[2022-06-20 08:39] Paul101432 opened #260 "配置数据读取顺序问题"
**Describe the bug**
只配置自定义文件  加载异常

**Expected behavior**
这里没有忽悠默认配置,导致一直加载不存在的文件

**Environment**
- Version: [1.5.2-2020.0.5]

![image](https://user-images.githubusercontent.com/12791233/174560439-b4893749-927a-41a3-9a4f-499e35c2afda.png)

[2022-06-20 09:19] lepdou commented on #260
@Paul101432
非常感谢给我们提 bug。我尝试理解一下你描述的 bug：
你的意思是配置了自定义文件之后，会去加载 application.yml 之类的内置配置文件。但是由于在北极星服务端没有添加 application.yml 导致一直加载不存在的配置文件？
--------
如果是上面我理解的话，这个是符合预期的。

因为客户端侧不管服务端有没有配置内置配置文件，都会去获取 application.yml 这些配置文件。如果没有加载到的话，也会向服务端订阅这些内置配置文件。这样的话，当动态的在北极星服务端添加了 application.yml 之后，客户端不用重启就能动态的获取到 application.yml 里面的配置。

-------
或者你这边有没有更好的方案可以参考一下？

[2022-06-20 09:21] lepdou commented on #260
@Paul101432

这段代码确实有一个bug，那就是如果不配置自定义的配置文件的话，就不会加载 application.yml 内置的配置文件。这部分已经在 1.6.0 版本里修复了，还没有发布。

[code]

[2022-06-20 09:25] #260 closed

[2022-06-20 11:56] ziven-ng commented on #249
大致看了一眼，比某baba 整洁干净，如果更新的快，准备换java 17的时候切过来。

[2022-06-20 12:04] weihubeats commented on #242
是否可以这样实现: 服务上线可以提供一个延迟发布配置，这个延迟发布时间配置交给用户去定义。服务下线可以去监听ContextClosedEvent事件完成服务下线。

[2022-06-20 12:42] cheese8 commented on #242
Assign me if it is convient.

[2022-06-20 12:44] misselvexu commented on #249
We will keep pace with the release progress of spring boot and cloud communities in the future，welcome attention～

[2022-06-20 13:14] weihubeats commented on #241
can i try this issues

[2022-06-20 13:29] weihubeats commented on #242
那将这个任务给我试试？

[2022-06-20 15:57] misselvexu commented on #249
Learn from excellent people and projects，just do what you like to do！

Join us～

[2022-06-21 01:32] mathcad commented on #242
1.服务上线时，待服务准备完成，再注册
如何定义服务准备完成？目前并没有标准，延迟注册，延迟多久？也很难有统一的说法。所以默认策略采用在spring context初始化完成后再注册可能比较合适，同时开放一个扩展点，对有自定义需求(比如用户项目有其他组件需要初始化，与spring 的周期不完全一致时）的用户，在自己项目需要的时机去注册(例如通过注解开启手动注册，然后自行在某处通过提供的api触发实例注册行为)

2.优雅停机
spring已经注册了shutdown hoot，无论是外部kill还是主动close, context的close会首先发布ContextCloseEvent给事件监听器，所以是否可以考虑注册一个最高优先级的ApplicationListener来处理停机事件，解注册？

[2022-06-21 02:41] #246 closed

[2022-06-21 03:12] SkyeBeFreeman commented on #241
OK. Plz give your plan before trying this issue. ^ ^

[2022-06-21 03:14] vinartis opened #267 "熔断示例文档引入包名错误"
如下图所示
![image](https://user-images.githubusercontent.com/4651907/174708676-d24e1f0d-7d41-40cb-bdd1-0e39f9db702e.png)

正确的包名是
`
<dependency>
<groupId>com.tencent.cloud</groupId>
 <artifactId>spring-cloud-starter-tencent-polaris-circuitbreaker</artifactId>
</dependency>
`

[2022-06-21 03:34] SkyeBeFreeman commented on #267
已修复，感谢反馈。

[2022-06-21 03:34] #267 closed

[2022-06-21 03:35] vinartis opened #268 "熔断组件，在项目不依赖openFeign时会启动报错"
**Describe the bug**
`
Caused by: java.lang.ClassNotFoundException: org.springframework.cloud.openfeign.FeignAutoConfiguration
	at java.net.URLClassLoader.findClass(URLClassLoader.java:382) ~[na:1.8.0_251]
	at java.lang.ClassLoader.loadClass(ClassLoader.java:418) ~[na:1.8.0_251]
	at sun.misc.Launcher$AppClassLoader.loadClass(Launcher.java:355) ~[na:1.8.0_251]
	at java.lang.ClassLoader.loadClass(Cl

[2022-06-21 03:41] SkyeBeFreeman commented on #268
目前熔断模块必须与feign同时使用，你认为如何实现比较好呢？可以一起讨论下哈

[2022-06-21 04:50] lltx commented on #268
https://github.com/Tencent/spring-cloud-tencent/issues/241

支持了 resttemplate 这个问题就好解决了

[2022-06-21 05:18] SkyeBeFreeman commented on #268
这边临时做了规避方法，即在`PolarisFeignClientAutoConfiguration`内添加`@ConditionalOnClass(name = "org.springframework.cloud.openfeign.FeignAutoConfiguration")`，如果没有引入openfeign依赖时，则不进行自动配置。后续计划在接入北极星监控时，会将feign从熔断模块独立出来，彻底规避这个问题。

[2022-06-21 06:35] #268 closed

[2022-06-21 06:37] #247 closed

[2022-06-21 06:48] SkyeBeFreeman commented on #242
这一块会在 #266 committer周会详细讨论，大家的想法都会纳入考虑

[2022-06-21 08:17] 1004789224 commented on #242
spring boot 有自己的就绪检测，https://docs.spring.io/spring-boot/docs/current/reference/html/actuator.html#actuator.endpoints.kubernetes-probes。

[2022-06-21 09:26] weihubeats commented on #241
Can I directly customize ResponseErrorHandler and report the request result

[2022-06-21 10:01] SkyeBeFreeman commented on #241
@weihubeats It looks good, commit the code and add an example to try.

[2022-06-22 00:23] DCloudCoder commented on #249
支持一波 火钳刘明

[2022-06-22 00:42] zxy1994 commented on #249
支持一波 火钳刘明

[2022-06-22 00:47] lngg057 commented on #249
BAT还差一个B了~
期待
<br /><br /><br /><br /><br /><br />
~~spring-cloud-bilibili(并不)~~

[2022-06-22 02:39] lepdou commented on #249
@Jack9610
我个人觉得你说的非常客观。

我之前也做过 Apollo，确实如你所说，当一个开源项目用的人多了，外部贡献者足够多了的情况下，很容易会导致这种情况。其实公司内部的项目也是如此，很难避免。如果 PR 卡的特别严，也会导致 PR 效率低，降低贡献者积极性等问题。做到一个好的权衡还是挺难的，需要有人能够持续投入精力把控质量。

[2022-06-22 05:40] mroccyen commented on #249
默默支持一波

[2022-06-22 06:56] lapple06 commented on #239
Please assign this issue to me

[2022-06-22 07:07] hhymyi commented on #240
Please assign this issue to me

[2022-06-22 07:19] zhuzhuxiaSoft opened #274 "咱们腾讯的这套框架有什么特色呢"
相比其他公司的方案具体有什么优劣势呢

PS：快卷不起了，估计又是一阵血雨腥风

[2022-06-22 07:49] 77321660 opened #275 "配置中心支持token验证"
**What is the feature you want to add?**
配置中心支持token验证
**Why do you want to add this feature?**
配置中心部署在公网环境安全访问需求
**How to implement this feature?**
参考“服务注册与发现”的token认证方式
**Additional context**
Add any other context or screenshots about the feature request here.

[2022-06-22 09:08] liuyd-cc opened #277 "配置中心不配置分组，无法加载配置文件错误"
**官方文档**
我们推荐的最佳实践是在北极星管控端创建一个名为当前应用名（ ${spring.application.name}） 的配置分组，Spring Cloud Tencent Config 会自动注入当前应用名分组下的

[code]

**只有当您需要注入额外自定义的配置文件时，才需要在 bootstrap.yml 里配置 spring.cloud.polaris.config.groups**，如下所示：
[code]

**源码**

com.tencent.cloud.polaris.config.adapter.PolarisConfigFileLocator
[code]

版本：
[code]

[2022-06-22 09:18] SkyeBeFreeman commented on #277
This has been fixed in #229 .

[2022-06-22 09:27] #277 closed

[2022-06-22 09:30] liuyd-cc opened #278 "spring.cloud.polaris.ratelimit.rejectRequestTips 不支持中文"
QuotaCheckServletFilter：
[code]

此时如果 rejectTips 是中文，直接返回给浏览器是乱码，不知道官方是否考虑支持中文正确返回？

[2022-06-22 13:16] shouyuwang commented on #278
Please assign this issue to me

[2022-06-22 13:22] cheese8 commented on #274
最好既能支持自己tencent cloud产品外，也能相对中立，支持下其他产品接入。

[2022-06-22 17:07] shouyuwang commented on #238
Please assign this issue to me

[2022-06-23 01:40] liuyd-cc commented on #278
昨天下班回家了，今天来公司一看已经解决了，代码拉下来之后，看了看使用的是

[2022-06-23 02:17] SkyeBeFreeman commented on #278
有道理，这里应该做一个判断，限流文案返回文字和HTML应该设置不同的ContentType。 同时，`QuotaCheckReactiveFilter`也需要实现。@cheese8 这边是否能继续实现呢？

[2022-06-23 02:25] lepdou commented on #274
嗯，这个我们是有计划的。
因为 Spring Boot 、Spring Cloud 最大的优势就在于 starter 组件化，各个功能独立。所以我们有考虑过混用的场景，比如注册中心用 Zookeeper、Nacos、路由用 SCT这种混用的场景。给用户最大的自由度去选择组件，而不是把用户就绑定死在 SCT 整个套件上，这也背离了 Spring Cloud 的理念。

[2022-06-23 02:57] shouyuwang commented on #278
是不是可以考虑抛出异常，让用户自己去捕获异常，返回自定义错误消息。

[2022-06-23 03:02] SkyeBeFreeman commented on #278
限流这里给出了自定义限流信息，目前的想法是尽量在限流模块内闭环，而不是抛出去让开发者解决。

[2022-06-23 03:46] cheese8 commented on #278
有道理，好的

[2022-06-23 14:16] shouyuwang opened #293 "metadata-transfer中传递覆盖问题"
A服务和B服务中进行设置了参数`data`进行传递，A服务中`data`=10，B服务中`data`=100。当A服务调用B服务的时候，B服务的`data`是否要进行覆盖？

[2022-06-23 14:27] shouyuwang commented on #293
那如果下游还有链路的话，不就会一直以第一个服务的传递为准了？这样的话，如果想通过上游传递的参数作为判断条件，在被覆盖的情况下是有可能判断错误的呢？

[2022-06-23 15:35] SkyeBeFreeman commented on #293
transfer目前仅做元数据传递，而调用链的场景相对复杂。比如traceid是需要一直往下游传递，这个不会变，而spanid则需要保存上游的并生成本spanid，然后再把本spanid传到下游。链路追踪的场景可以作为一个单独的场景考虑。

[2022-06-24 03:14] SkyeBeFreeman commented on #238
@shouyuwang 本issue已纳入腾源会主办的开源摘星计划，如果有兴趣领取奖品，可以[查看此处](https://github.com/weopenprojects/WeOpen-Star/issues/17)了解详细参与方式。

[2022-06-24 03:14] #238 closed

[2022-06-24 03:15] SkyeBeFreeman commented on #240
@hhymyi 本issue已纳入腾源会主办的开源摘星计划，如果有兴趣领取奖品，可以[查看此处](https://github.com/weopenprojects/WeOpen-Star/issues/17)了解详细参与方式。

[2022-06-24 03:15] SkyeBeFreeman commented on #241
@weihubeats 本issue已纳入腾源会主办的开源摘星计划，如果有兴趣领取奖品，可以[查看此处](https://github.com/weopenprojects/WeOpen-Star/issues/17)了解详细参与方式。

[2022-06-24 04:13] SkyeBeFreeman commented on #293
我们将在 #296 讨论这个场景。

[2022-06-24 05:24] SkyeBeFreeman opened #297 "熔断功能优化"
sct 这里的上报异常，可能需要考虑下，应该不是所有的5xx错误都认为是调用失败，是不是可以先直接设置网络相关的错误才上报RetFail

_Originally posted by @chuntaojun in https://github.com/Tencent/spring-cloud-tencent/pull/272#discussion_r905687448_

[2022-06-24 06:09] tofdragon opened #298 "MetadataTransferAutoConfiguration should not mark @ Configuration"
https://github.com/Tencent/spring-cloud-tencent/blob/cbed6df22a14cb0f37294c4086fc0d9fca977dc7/spring-cloud-starter-tencent-metadata-transfer/src/main/java/com/tencent/cloud/metadata/config/MetadataTransferAutoConfiguration.java#L58

MetadataTransferAutoConfiguration has been added to spring.factories config file，so MetadataTransferAutoConfiguration should not mark @ Configuration

[2022-06-24 06:21] misselvexu commented on #297
## Some Ideas.
### Which scenarios require fusing
- Network exceptions
- Service call internal exceptions

### Solutions
- Configurable, the application itself to configure the Http exception status code

[code]

- Provide fuse judgment `SPI` interface

[2022-06-24 07:39] tmaerd opened #302 "元数据路由功能实现多环境隔离有一定局限性,后续有拓展计划吗"
元数据路由功能实现多环境隔离和我们公司一套环境隔离工具思想基本是一致的.
但是功能上好像有局限,只能隔离微服务调用,没有办法隔离一些中间件,如mq,定时任务场景.
以mq举例:
同一个服务的两个实例A和A-test1都是集成了mq的consumer,
这时与A-test1同一个环境中另外一个服务的实例B-test生产的消息,同时还是会被A和A-test消费到,没发做到彻底隔离

[2022-06-24 07:55] weihubeats commented on #227
I understand this issue is to create spring-cloud-tencent-docs and then create empty folder like in the screenshot?

[2022-06-24 08:03] misselvexu commented on #302
At present, at the metadata routing, `SCT` focus is still on the East-West flow control level.

The route you mentioned is more inclined to the full-link grayscale, involving databases, caches, message queues, etc.

[2022-06-24 08:18] tmaerd commented on #302
好吧,我看你们最佳实践里面写的是多特性环境,以为还有什么我没注意到的.
但是从实际的使用场景而言,多特性环境的目的就是为了流量近可能隔离,仅仅是rpc调用隔离可能还不够
希望后面可以集成一些基本的如mq隔离等,或者提供一些拓展点出来

[2022-06-24 09:34] youngledo commented on #249
Java生态就是有意思，各自不服各种造轮子。。

接下来欢迎“Spring Cloud XXX”来造轮子

[2022-06-24 10:06] lepdou commented on #302
这是个好思路，我们想想。

@tmaerd 感谢支持~

[2022-06-24 10:09] lepdou commented on #298
@tofdragon
Firstly thank you for your suggestion. We will optimzie it.

[2022-06-24 10:46] misselvexu commented on #227
Doc independent site, currently suspended.

[2022-06-24 13:36] cheese8 commented on #302
Mark，学习大佬们全链路路由MQ和定时任务怎么通过元数据隔离的方案~

初步想到一个砖头：
元数据下发，使得A和A-test1按照元数据指引的环境reblance消费不同的Topc（+Tag？）

[2022-06-24 14:25] kaiybaby opened #306 "限流效果为匀速排队时出现无法处理其他请求的现象"
spring-cloud-starter-tencent-polaris-ratelimit/src/main/java/com/tencent/cloud/polaris/ratelimit/filter/QuotaCheckReactiveFilter.java
[code]
sleep()是一个blocking call，此处执行在webflux的上下文中，Web Server拿默认实现Reactor-netty来说，执行sleep()方法的线程为eventloop线程（个数为cpu cores），当阻塞掉这些有限资源时造成的问题是将无法处理其他任何请求，表现出来的现象为整个Server都在等待，在Reactive programming中应禁止使用任何的blocking call.

是否考虑改为：
[code]

[2022-06-24 14:29] #306 closed

[2022-06-24 14:31] kaiybaby opened #307 "限流效果为匀速排队时出现无法处理其他请求的现象"
spring-cloud-starter-tencent-polaris-ratelimit/src/main/java/com/tencent/cloud/polaris/ratelimit/filter/QuotaCheckReactiveFilter.java

[code]
sleep()是一个blocking call，此处执行在webflux的上下文中，Web Server拿默认实现Reactor-netty来说，执行sleep()方法的线程为eventloop线程（个数为cpu cores），当阻塞掉这些有限资源时造成的问题是将无法处理其他任何请求，表现出来的现象为整个Server都在等待，在Reactive programming中应禁止使用任何的blocking call.

是否考虑改为：

[code]

[2022-06-24 14:37] SkyeBeFreeman commented on #307
@kaiybaby 可以直接提个PR贡献一下～

[2022-06-24 15:28] lepdou commented on #302
消息有一种简单的方案： A 和 A-test1 是不同的 consumer-group， broker 两边都都投递，consumer 消费的时候，判断消息里的tag，是不是属于自己的分组，如果是的话就消费，不是的话就丢弃。

相当于在客户端侧处理，而不是broker端，处理起来简单很多。

[2022-06-25 07:04] myNameZhulu opened #310 "能发布对应的Spring boot版本号关系么？"
能发布对应的Spring boot版本号关系么？在尝试使用过程中无法确定使用哪个Spring boot版本与[spring-cloud-tencent](https://github.com/Tencent/spring-cloud-tencent)进行依赖

[2022-06-25 07:08] SkyeBeFreeman commented on #310
@myNameZhulu 可以看看这篇文档，[版本管理](https://github.com/Tencent/spring-cloud-tencent/wiki/Spring-Cloud-Tencent-版本管理)。

[2022-06-25 08:37] lost4git opened #311 "polaris 不开源么"

[2022-06-25 08:41] lost4git commented on #311
看到了 贴个链接 https://github.com/polarismesh

[2022-06-25 08:42] #311 closed

[2022-06-25 10:02] weihubeats opened #312 "format constants UTF-8"
**What is the feature you want to add?**
Use jdk constants instead of magic variables
**Why do you want to add this feature?**
Use jdk constants instead of magic variables
**How to implement this feature?**
Use jdk constants instead of magic variables
**Additional context**
![image](https://user-images.githubusercontent.com/42484192/175768750-7ff3ea4f-a0ae-4f46-af69-92491ac351b1.png)

[2022-06-25 11:07] lepdou opened #314 "优化配置中心动态刷新的机制"
**What is the feature you want to add?**
Spring Cloud 官方实现是通过 @RefreshScope 实现动态刷新，在配置刷新时，会重建 Bean。
这种方式有两个弊端：
1. 开发阶段需要加 @RefreshScope
2. 刷新时会重建 Bean，影响面大。老版本会重建整个 Context

参考其它配置中心实现，Apollo 是通过反射的机制，动态更新 @Value 的属性值。这种方式能够比较好的解决优化两个问题。

**Why do you want to add this feature?**

**How to implement this feature?**

通过反射机制实现属性动态刷新

**Additional context**
Add any other context or screenshots about t

[2022-06-25 13:04] cheese8 commented on #302
这样多一套判断逻辑，侵入业务：consumer端始终要订阅生产topic和灰度topic，同时还要做判断。

我们目前的做法是：
1、1个Topic, 1个tag，当该tag需要灰度时，tag_grep作为灰度tag
2、非灰度时，2个producer往topic+tag投递，2个consumer从topic+tag消费
3、灰度时，某个producer(2个producer其中之一，往其中之一下发灰度元数据)识别到灰度元数据时，往topic+tag_grey投递，某个consumer(2个consumer其中之一，往其中之一下发灰度元数据)识别到灰度元数据时，自动reblance后消费topic+tag_grey

tag加_grey后缀是约定逻辑，所以可以从mq client包上做增强，不会侵入业务。

[2022-06-26 05:25] #307 closed

[2022-06-26 05:25] lepdou commented on #312
Resolved with #313 .

@weihubeats
Thank you for you pr~

[2022-06-26 05:26] #312 closed

[2022-06-26 13:14] weihubeats commented on #314
can i try this issues

[2022-06-27 01:54] zhuzhuxiaSoft commented on #274
thank u for all replies

[2022-06-27 01:54] zhuzhuxiaSoft commented on #274
thank u for all replies

[2022-06-27 01:54] #274 closed

[2022-06-27 02:22] tmaerd commented on #302
我们使用的场景是用于多套隔离的研测环境,用于在不明显增加资源消耗的情况下,可以有多套隔离环境供开发和测试同学使用。改动了哪几个服务，直接在一个测试环境中部署这几个服务就行，其他服务公用，这个其实和灰度环境有区别的。一般db,redis这种是公用的,不需要隔离,但是rpc调用和mq生产和消费是要隔离的。

你说的这种方案有些场景无法满足:
1.只修改生产者:测试环境test-a的生产者产生的消息没法被回归环境test消费，只能被test-a下的消费者消费。这种如果test-a环境中没有改动消费者，就不会部署消费者,这样就会导致test-a环境中产生的消息一直没有办法被消费。
2.只修改消费者:测试环境test-a的消费者没法消费回归环境test发出的消息,
引用网上的一种方案:http://blog.itpub.net/31562044/viewspace-2638789/
如果可以只增强生

[2022-06-27 02:52] lepdou commented on #314
@weihubeats

Thank you~

You can reference to apollo-client implement. [apollo-client](https://github.com/apolloconfig/apollo/tree/master/apollo-client)

[2022-06-27 05:18] lepdou commented on #242
@cheese8 @1004789224 @mathcad @weihubeats
感谢各位的讨论。

我尝试总结一下：

### 服务优雅上线

#### 1. 整体机制

首先整体的原则是尽量复用 Spring Cloud/Spring Boot 已有的机制，在此基础上做扩展。所以 @1004789224 提到的 /actuator/health/readiness 和 ApplicationReadyEvent 事件非常重要。SCT 在决定是否注册到注册中心时，统一判断 ApplicationReadyEvent 或者 /actuator/health/readiness 是否ok，如果 ok 就发起注册。

但是这种方式的前提是：
1. /actuator/health/readiness 和 ApplicationReadyEvent 是否已经覆盖所有场景
3. 如果没有覆盖所有

[2022-06-27 06:36] Paul101432 opened #318 "springboot admin 读取服务失败"
**Describe the bug**
SpringBootAdmin集成北极星时,不能正常加载服务列表,关键日志如下

[code]

参考例子 https://github.com/Paul101432/sba-discovery/tree/polaris

**Expected behavior**
应能准确加载并无报错

[2022-06-27 06:40] chuntaojun commented on #318
ok。we will fix it

[2022-06-27 06:47] 1004789224 commented on #242
我觉得可以参考下k8s的探针，来做优雅上线
在k8s中，存在启动、就绪、存活探测
启动-> 了解容器何时才完成启动，后续才可以进行就绪和存活探测
就绪-> 容器就绪才可以接受流量
存活-> 检查应用是否可以正常提供服务,允许容器已不健康的形式存活，通过自动重启，保证服务的可用性
。[https://kubernetes.io/zh-cn/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#%E5%87%86%E5%A4%87%E5%BC%80%E5%A7%8B](url)

[2022-06-27 07:41] cheese8 commented on #302
你说的多套隔离环境，只部署修改的几个服务，其他服务及有状态的DB，MQ等公用，我理解完全没问题。

无法满足的场景没太理解，为什么会没办法被消费？

[2022-06-27 07:57] SkyeBeFreeman commented on #318
感谢反馈！我看下对`spring-boot-admin`的支持。

[2022-06-27 11:14] SkyeBeFreeman commented on #318
这个问题是北极星服务端在查询实例时在metadata返回了空字符串的version信息导致的，修复代码已经提交给北极星，[fix:fix return of empty string. #484](https://github.com/polarismesh/polaris/pull/484)。

<img width="293" alt="企业微信截图_36c070dc-fb61-448a-a3bb-c5b4d0ac2988" src="https://user-images.githubusercontent.com/24446200/175928845-1a1434e6-5f9f-4742-8535-3cfcdb1fdbe4.png">

[2022-06-27 12:40] #241 closed

[2022-06-27 14:32] clstech opened #323 "拉取Demo 提示Unresolved dependency: 'ch.qos.logback:logback-core:jar:1.2.11'"
git最新master仓库，maven后提示 Unresolved dependency: 'ch.qos.logback:logback-core:jar:1.2.11'

[2022-06-27 15:51] misselvexu commented on #323
Please check your maven `settings.xml` file first , maven mirrors repository address is recommended ,

[2022-06-27 22:54] pandaapo commented on #323
这种个性问题，一般是网络问题导致依赖没下载完整（删除本地maven中下载的文件，重新下载），或者配置镜像地址有问题（检查下，我用的是aliyun镜像）。

[2022-06-28 01:40] #318 closed

[2022-06-28 01:50] SkyeBeFreeman commented on #298
@tofdragon Configuration defined in spring.factories should also be marked `@Configuration`. Or it will do not work.

[2022-06-28 07:02] #323 closed

[2022-06-28 07:22] quicksandznzn commented on #298
Maybe Use @Configuration(proxyBeanMethods = false)  would  be better

[2022-06-28 08:25] wave-gbt commented on #249
@youngledo
确实是这样，基于老外的东西，自己改改就能冠名，顺便提高社区影响力。
一遍说不要重复造轮子，一遍大家都爱用各自的轮子

[2022-06-28 08:27] misselvexu commented on #200
Organization ：HGJ Logistics Technology Co.,Ltd
Website ：https://www.hgj.com
Slogan ：Making Logistics Easier
<img width="210" alt="image" src="https://user-images.githubusercontent.com/3436472/176131275-a095d746-6bef-434d-a043-b8c6ad20bac4.png">

[2022-06-28 09:27] tnessn commented on #249
有意思 可以跟spring cloud alibaba一较高下了

[2022-06-28 10:18] #275 closed

[2022-06-28 10:20] SkyeBeFreeman commented on #293
@shouyuwang 这里会添加一个单跳传递的场景，即只传递到下游，而不传递到下下游之后。

[2022-06-29 02:58] GuoRanYiMao opened #339 "有没有可能构建微服务集群内 TencentHashMap,TencentHashSet,TencentList对象"
有没有可能构建微服务集群内 TencentHashMap,TencentHashSet,TencentList对象。
让研发像使用java容器一样通过简单创建静态成员变量直接使用。屏蔽集群共识复杂度，用起来会不会很爽。
首先要约束使用场景，明确线程是否安全，通过北极星找到找到当前服务集群。
集群内通过类似Jraft算法独立实现数据一致性。

最终期望的效果是
@Service
public class DemoService {
    //研发无感声明集群内同步缓存块
    public static TencentHashMap<String,Object> TEMP_MAP;
}

[2022-06-29 04:08] misselvexu commented on #339
@GuoRanYiMao

Redis is perfectly suited to your scenario ，why not use Redis directly ?

Also ,
From a practical point of view, the Polaris registry belongs to the `AP`, which guarantees availability, distributed storage, and requires the consensus algorithm of the `CP` 。

[2022-06-29 04:43] GuoRanYiMao commented on #339
只是讨论啊。 redis是可以这样，但终究是需要引入提高复杂度。研发还是有感知的。
我可能没有表述清楚，同步缓存模块不依赖北极星，只需要北极星告诉我当前servername 的集群都有哪些节点，同步这件事交给springcloudtencent框架自己来消化，也就是参与分布式共识算法的节点不包含北极星，只有业务集群自己讨论。

另外，如果真的可以实现，研发在特定场景下，public static TencentHashMap<String,Object> TEMP_MAP; 这方式会不会体验好一些。

[2022-06-29 06:11] cheese8 commented on #339
Could the Hazelcast distributed map suited to your scenario?

[2022-06-29 07:01] GuoRanYiMao commented on #339
看了一下 Hazelast 感觉完美覆盖了需求

[2022-06-29 08:19] salahgao opened #345 "polaris-router-grayrelease-example application run failed"
**Describe the bug**
polaris-router-grayrelease-example application run failed。

2022-06-29 15:55:13.787  INFO 10196 --- [           main] .c.p.r.g.g.GrayReleaseGatewayApplication : No active profile set, falling back to default profiles: default
2022-06-29 15:55:14.574 ERROR 10196 --- [           main] o.s.boot.SpringApplication               : Application run failed

java.lang.ArrayStoreExceptio

[2022-06-29 08:55] SkyeBeFreeman commented on #345
Thx for reporting. I will check and fix this.

[2022-06-29 09:45] yangzhongj opened #350 "Add grpc to spring-cloud-tencent"
**What is the feature you want to add?**
增加grpc 到spring-cloud-tencent

**Why do you want to add this feature?**
grpc现在云原生的http2.0的通用协议，http2.0 带来的红利是巨大的，希望添加这个功能
**How to implement this feature?**
既然grpc-java-polaris 已经支持了这个功能，可以对进行一层封装，适配到spring-cloud的体系

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-06-29 09:49] SkyeBeFreeman commented on #350
感谢建议~我们将在后续周会讨论grpc对接事项。

[2022-06-29 10:07] #345 closed

[2022-06-29 10:10] SkyeBeFreeman commented on #345
Just pull the newest code.

[2022-06-29 14:01] DerekYRC opened #352 "容器关闭前未关闭线程池"
**Describe the bug**
A clear and concise description of what the bug is.

Did not shutdown the thread pool before the spring container closes.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

Shutdown the thread pool before the spring container closes.

**Environment**
- Version: [e.g. v1.0.0]
- OS: [e.g. Cen

[2022-06-29 14:29] SkyeBeFreeman commented on #352
Thx for contributing~

[2022-06-29 15:56] #352 closed

[2022-06-30 00:58] pengzexuan2001 commented on #249
围观
（PS：不过Tencent入场还是略微有些晚的，相较于Alibaba没有先发优势了😂）

[2022-06-30 02:08] SkyeBeFreeman commented on #350
@yangzhongj 如果您有好的想法，可以给出相应的设计方案，进行开发提出PR哈~

[2022-06-30 07:13] weihubeats commented on #242
readiness 事件主要还是spring boot针对k8s准备的就绪事件。我们容器不在k8s中需要手动去开启这个事件，使用这个事件是否合理呢

[2022-06-30 07:17] 1004789224 commented on #242
spring 只保证了容器完成refresh，但是对于接口是否可用并不保证，理论上refresh完成，接口都应该是可用的

[2022-06-30 12:56] misselvexu commented on #249
A good meal is never too late.🤨

[2022-07-01 02:59] zhaozw commented on #249
可以是HAT，spring cloud huaxxx，lol

[2022-07-01 03:41] tnessn commented on #249
其实spring cloud alibaba 那套还很不完善，有些功能还不给开源，非得用他们的云产品。spring cloud tencent机会很大

[2022-07-01 03:44] xingducai opened #363 "sct启动报java.lang.IllegalArgumentException: file group cannot be empty."
sct版本: 1.5.3-2021.0.2
问题 ： sct启动报java.lang.IllegalArgumentException: file group cannot be empty.
	at com.tencent.polaris.configuration.client.util.ConfigFileUtils.checkConfigFileMetadata(ConfigFileUtils.java:16) ~[polaris-configuration-client-1.6.1.jar:na]
	at com.tencent.polaris.configuration.client.DefaultConfigFileService.getConfigPropertiesFile(DefaultConfigFileService.java:45) ~[polaris-confi

[2022-07-01 03:47] xingducai commented on #363
如果出现上面的问题，你需要检查一下bootstrap.yml 是否配置了spring:application:name

[2022-07-01 03:48] SkyeBeFreeman commented on #363
可以按照这个文档[Spring Cloud Tencent Config 使用文档 - 模块简介](https://github.com/Tencent/spring-cloud-tencent/wiki/Spring-Cloud-Tencent-Config-%E4%BD%BF%E7%94%A8%E6%96%87%E6%A1%A3#%E6%A8%A1%E5%9D%97%E7%AE%80%E4%BB%8B)的注意事项第2点进行检查。

[2022-07-01 03:58] xingducai commented on #363
为什么我在application.yml配置了spring.application.name不行呢？
因为PolarisContextProperties.java 配置中的spring.cloud.polaris.service 默认取值 ${spring.application.name}

[2022-07-01 03:59] xingducai commented on #363
@SkyeBeFreeman

[2022-07-01 03:59] #363 closed

[2022-07-01 04:03] SkyeBeFreeman commented on #363
bootstrap的阶段无法读取到`application.yml`的配置。

[2022-07-01 06:32] cheese8 opened #364 "Refator JacksonUtils and JacksonUtilsTest"
**Why do you want to add this feature?**
1. remove the redundant logic of LOG in JacksonUtils.
2. refactor using assertThrows instead of try catch fail.

@SkyeBeFreeman

[2022-07-01 06:43] SkyeBeFreeman commented on #364
@cheese8
1. Why do you want to remove the LOG output in `JacksonUtils`?
2. You should use `AssertJ` to implement Junit test.

[2022-07-01 06:59] cheese8 commented on #364
@SkyeBeFreeman
That was already rethrown as runtime exception and with the almost  message, i think it's redundant. What do you think?

[2022-07-01 07:55] SkyeBeFreeman commented on #364
1. If runtime exception happened in a thread and is not catched by upper, it may lose the error log.
2. Your new modification is ok.

[2022-07-01 08:04] cheese8 commented on #364
oh yes, i missed this, how about throw runtime exception on the method signature ?

[2022-07-01 08:07] SkyeBeFreeman commented on #364
It is no need to catch `RuntimeException`, even if you write in the method signature.

[2022-07-01 08:19] cheese8 commented on #364
yeah, ok, JacksonUtils  reverted.

[2022-07-01 09:36] #364 closed

[2022-07-01 14:03] lingxiao-wu opened #372 "元数据路由支持线程池场景使用"
**What is the feature you want to add?**
目前Spring Cloud Tencent的元数据由InheritableThreadLocal保存，可以保证InheritableThreadLocal中的元数据在父子线程中传递，但是InheritableThreadLocal不能解决线程场景，因为线程池存在线程复用问题，不会每次new，所以线程取InheritableThreadLocal 的值还是残留第一次传递进来值，导致结果不正确
<img width="810" alt="image" src="https://user-images.githubusercontent.com/51630311/176898733-be759bfb-d814-4b3e-97cc-5233e7dbf974.png">

**Why do you want to a

[2022-07-03 02:33] coderzcr opened #377 "后续有没有开发分布式事务组件的计划？"
目前阿里seata不支持tencent的配置中心和注册中心，不知后续是否有计划

[2022-07-03 14:36] ranchowang commented on #377
腾讯内部的分布式事务组件还没有开源时间表

seata支持polaris作为注册配置中心，可以考虑从两个方向推进：
1. 和seata社区探讨支持polaris的可行性
2. polaris兼容eureka等其他注册配置中心的协议接入：
https://github.com/polarismesh/polaris/tree/main/apiserver

[2022-07-04 03:46] SkyeBeFreeman opened #384 "Hoxton版Zuul支持网关路由"
**What is the feature you want to add?**

在Hoxton版Zuul实现网关路由逻辑。

**Why do you want to add this feature?**

在Zuul的使用可以支持北极星路由功能。

**How to implement this feature?**

参考SCG中 `com.tencent.cloud.polaris.router.scg.PolarisLoadBalancerClientFilter` 的实现。而Zuul最终生效的路由应该在 `com.tencent.cloud.polaris.router.PolarisLoadBalancerCompositeRule#choose` 这个方法。

**Additional context**

No.

[2022-07-04 09:05] cheese8 commented on #242
好的，抱歉才看到，晚点整理一下。

[2022-07-04 09:36] lepdou commented on #372
good suggestion.

[2022-07-04 12:00] DerekYRC commented on #384
@SkyeBeFreeman 我理解，可以在PreDecorationFilter之前增加一个ZuulFilter过滤器，该过滤器执行路由逻辑选择服务实例，然后将路由结果放进请求上下文RequestContext。

[2022-07-04 12:01] DerekYRC commented on #384
@SkyeBeFreeman 我理解，可以在PreDecorationFilter之前增加一个ZuulFilter过滤器，该过滤器执行路由逻辑选择服务实例，然后将路由结果放进请求上下文RequestContext。

不知道理解对不对？

[2022-07-04 12:43] SkyeBeFreeman commented on #384
这种方法确实可以实现，不过如果能按照原生的Rule来实现更好。普通微服务是将标签信息放在`com.tencent.cloud.polaris.router.PolarisLoadBalancerCompositeRule#choose`这个方法的入参`key`中，而Zuul目前没有将相关路由标签数据放在`choose`方法的入参，因此找到方法填入这个参数，即可完成Zuul的服务路由实现。

[2022-07-04 13:33] lingxiao-wu opened #389 "配置中心支持Spring Cloud新配置方式"
**What is the feature you want to add?**
https://docs.spring.io/spring-cloud-config/docs/current/reference/html/#config-first-bootstrap

<img width="1409" alt="image" src="https://user-images.githubusercontent.com/51630311/177165300-838ed428-e862-40db-b7e8-1b1a72d4332b.png">
Spring cloud 2.4后续版本默认关闭了bootstrap功能，并且为配置中心提供了新的配置方式

**Why do you want to add this feature?**

**How to implement this fea

[2022-07-04 13:38] SkyeBeFreeman commented on #389
我最近也注意到配置中心这一块的新特性，欢迎您参与开源贡献。您可以直接在issue里给出您的方案或想法，并提交PR👏近期会先发布`1.6.0`版本，所以这一块您可以先开发，后续在`1.7.0`版本发布。

[2022-07-05 03:15] #243 closed

[2022-07-05 03:16] #298 closed

[2022-07-05 03:16] #310 closed

[2022-07-05 11:44] #239 closed

[2022-07-05 15:35] parzulpan commented on #249
火钳刘明~持续关注中

[2022-07-06 03:22] weihubeats opened #393 "format code"
**What is the feature you want to add?**
format code
**Why do you want to add this feature?**
format code
**How to implement this feature?**
format code
**Additional context**
Add any other context or screenshots about the feature request here.

[2022-07-06 04:40] #393 closed

[2022-07-06 12:53] #339 closed

[2022-07-07 02:07] #240 closed

[2022-07-07 02:09] SkyeBeFreeman commented on #314
@weihubeats you can reopen the PR.

[2022-07-07 02:09] 10veU opened #405 "没有spi包"
![image](https://user-images.githubusercontent.com/37033600/177674114-f7dba63e-8ec6-4dd8-bb6e-6eaa105161d9.png)

[2022-07-07 02:11] SkyeBeFreeman commented on #405
@10veU This feature is released in version 1.6.0.

[2022-07-07 02:15] SkyeBeFreeman commented on #405
I will add this notice in the wiki.

[2022-07-07 02:27] 10veU commented on #405
默认的日志目录是`/polaris/logs`，这个是在哪里配置或者设置的？如果自定义日志需要注意什么？

[2022-07-07 02:30] SkyeBeFreeman opened #406 "匀速排队限流添加打印排队时间的debug日志"
**What is the feature you want to add?**

匀速排队限流添加打印排队时间的debug日志。

**Why do you want to add this feature?**

调试代码时时查看请求排队时长。

**How to implement this feature?**

在 `QuotaCheckServletFilter` 和 `QuotaCheckReactiveFilter` 的等待逻辑前添加如下代码：
[code]

具体需要打印的请求信息，可以再设计设计。

**Additional context**

No.

[2022-07-07 02:44] SkyeBeFreeman commented on #405
可以在启动参数添加`-Dpolaris.log.home=${the_path_you_want}`即可自定义日志目录，详细设计可以查阅[polaris-logging](https://github.com/polarismesh/polaris-java/tree/main/polaris-common/polaris-logging)。

[2022-07-07 02:51] weihubeats commented on #314
ok

[2022-07-07 06:37] SkyeBeFreeman commented on #406
可以的👏

[2022-07-07 09:32] Buce21 opened #410 "sct接入北极星的监控功能"
**What is the feature you want to add?**
接入北极星监控功能，在北极星控制台可观测性界面观测路由/熔断/限流
**Why do you want to add this feature?**
可视化可以更方便的观测服务状态
**How to implement this feature?**
参照北极星java sdk实现
**Additional context**
无

[2022-07-07 10:54] SkyeBeFreeman opened #411 "完善spring-cloud-starter-tencent-polaris-ratelimit的端点功能"
**What is the feature you want to add?**

`spring-cloud-starter-tencent-polaris-ratelimit` 模块的端点需要完善。

**Why do you want to add this feature?**

目前在返回值转Json格式会有异常。

**How to implement this feature?**

`com.tencent.cloud.polaris.ratelimit.endpoint.PolarisRateLimitRuleEndpoint#parseRateLimitRule` 这个方法需要将PB格式的数据先转为Json格式，再塞入返回结果的 `ruleMap` 中。

**Additional context**

添加对应的单元测试。

[2022-07-07 11:23] DerekYRC opened #412 "PolarisDiscoveryProperties的registerEnabled字段上的@Value的占位符名称为register，名称不一致"
**Describe the bug**
PolarisDiscoveryProperties的registerEnabled字段上的@Value的占位符名称为register，名称不一致

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
名称应该保持一直，可以兼容修改@Value注解的占位符为
[code]

**Environment**
- Version: [e.g. v1.0.0]
- OS: [e.g. CentOS8]

**Additional context**
Add any other context about the problem here.

[2022-07-07 11:31] SkyeBeFreeman commented on #412
这个不算bug吧，就是需要通过配置 `spring.cloud.polaris.discovery.register` 来设置这个属性，不过想在代码内的属性名来标明这个属性的功能。

[2022-07-07 12:13] weihubeats commented on #411
can i try this issues

[2022-07-07 13:46] lingxiao-wu commented on #389
我调研了一下，其实支持这个比较关键的是要实现`ConfigDataLocationResolver` `ConfigDataResource` `ConfigDataLoader`三个接口，`ConfigDataLocationResolver`可以将import：xxx后面的配置包装成`ConfigDataResource`,`ConfigDataLoader`会根据`ConfigDataResource`中的配置从配置中心拉取配置，并适配为`ConfigData`。
在实现的过程中发现的问题是在之前的版本SPT过于依赖Bootstrap容器，如果剔除掉Bootstrap容器支持，将直接影响`polarisContext`的加载，并且`ConfigDataLocationResolver` `ConfigDataResource` `ConfigDataLoader`的加载是通过`Con

[2022-07-08 01:46] DoubleLuXu opened #414 "unit test run failed."
**Describe the bug**

QuotaCheckServletFilterTest
testInit()

java.lang.NoClassDefFoundError: com/tencent/cloud/common/util/ExpressionLabelUtils

	at com.tencent.cloud.polaris.ratelimit.filter.QuotaCheckServletFilterTest.beforeClass(QuotaCheckServletFilterTest.java:85)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethod

[2022-07-08 01:56] SkyeBeFreeman commented on #414
Reload the project and try. Every PR will run Github Action with junit test like this [feat:update to 1.7.0-Hoxton.SR12-SNAPSHOT. Test with Junit #1019](https://github.com/Tencent/spring-cloud-tencent/actions/runs/2622628681).

<img width="247" alt="image" src="https://user-images.githubusercontent.com/24446200/177900828-e757d708-e9b0-44d0-9c89-e71b16a9edec.png">

[2022-07-08 02:46] #414 closed

[2022-07-08 05:17] #411 closed

[2022-07-08 06:39] DerekYRC commented on #412
两个问题：

一、@ConfigurationProperties注解和@Value注解组合使用的方式是多余的。@Value注解在AutowiredAnnotationBeanPostProcessor#postProcessProperties方法中被处理，@ConfigurationProperties注解在ConfigurationPropertiesBindingPostProcessor#postProcessBeforeInitialization方法中处理，所以会被处理两次。

二、PolarisDiscoveryProperties#registerEnabled字段名称与其注解@Value中的占位符名称不一致，且@Value注解被处理的时间先于@ConfigurationProperties被处理的时间，存在属性值被覆盖的问题。比如同时配置了```spring.cloud

[2022-07-08 06:52] SkyeBeFreeman commented on #412
这里存在需要优化的地方，看你是否有意愿提个PR来帮助完善一下？

[2022-07-08 07:11] DerekYRC commented on #412
可以的。我建议：

一、移除所有被@ConfigurationProperties修饰的类的字段上的@Value注解
二、考虑到兼容性，保留PolarisDiscoveryProperties#registerEnabled字段上的@Value注解，改为```@Value("${spring.cloud.polaris.discovery.register:${spring.cloud.polaris.discovery.register-enable:#{true}}}")```

请问你意见如何？

[2022-07-08 07:22] DerekYRC commented on #412
当然，开源框架的兼容性至关重要。有空提个PR。

[2022-07-08 08:14] SkyeBeFreeman opened #421 "2020和2021版本的LoadBalancer模块添加单测"
**What is the feature you want to add?**

2020和2021版本的LoadBalancer模块添加单测。

**Why do you want to add this feature?**

提升单测覆盖率。

**How to implement this feature?**

**Additional context**

无。

[2022-07-10 08:45] misselvexu commented on #242
@cheese8

How's the mission going ?

[2022-07-10 15:11] cheese8 commented on #242
抱歉，上周略忙，下周可以PR。

优雅上线方案，帮忙review一下，多谢。 @misselvexu

1. GracefulStartUpListener implements ApplicationListener<ApplicationReadyEvent>, Ordered
override the onApplicationEvent method, and call GracefulStartupReadinessChecker.check
感觉ApplicationStartedEvent应该也可以，但它since 2.0.0, ApplicationReadyEvent since 1.3.0适用更广。

2. GracefulStartupReadinessChecker with check method and default implementation
3. Po

[2022-07-11 03:17] SkyeBeFreeman commented on #410
I will finish this in version 1.7.0.

[2022-07-11 12:21] liqi19950722 commented on #389
需要springboot 2.4.5以上
可以用
`org.springframework.boot.BootstrapRegistryInitializer` 提前往`org.springframework.boot.ConfigurableBootstrapContext` 中注册`PolarisConfigModifier` `PolarisContextProperties` 再利用`InstanceSupplier`延时构建`SDKContext`，最后`ConfigDataLoader`中获取`SDKContext`

`spring.factories`
[code]

[2022-07-11 12:55] liqi19950722 commented on #314
Note that actual processing of the @Value annotation is performed by a BeanPostProcessor which in turn means that you cannot use @Value within BeanPostProcessor or BeanFactoryPostProcessor types. Please consult the javadoc for the AutowiredAnnotationBeanPostProcessor class (which, by default, checks for the presence of this annotation).

[2022-07-12 04:42] misselvexu opened #426 "Upgrade third-party libs because current version brings in jars with CVEs"
**What is the feature you want to add?**
Upgrade third-party libs because current version brings in jars with CVEs .
eg:
- jackson-databind
- spring-web/webmvc
- hessian
- bcprov-jdk15on
- commons-collections
- netty
- guava
- ...

**Why do you want to add this feature?**
Ensure the security of all three-party dependencies and prevent vulnerabilities in online services.

**How to implement this fe

[2022-07-12 04:42] #426 closed

[2022-07-12 05:46] #412 closed

[2022-07-12 14:20] lingxiao-wu commented on #389
其实不需要这样做，在实现ConfigDataLocationResolver后，我们可以直接通过`resolverContext.getBootstrapContext();`获取到`ConfigurableBootstrapContext`,然后注册相关Bean，最后在`ConfigDataLoader` 获取。
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/51630311/178510396-29269f2f-4a60-4704-88c2-d2acb0f81943.png">

现在我有个粗暴的思路，就是在`ConfigDataLocationResolver` 中提供硬编码先创建出一个早期暴露的SDKContext，拉取完在销毁它，在Spring Boot上下文启动时在重新注

[2022-07-13 02:45] liqi19950722 commented on #389
是不是调用到  spring.cloud.polaris.address=grpc://183.47.111.80:8091

[2022-07-14 02:47] DerekYRC opened #431 "metadata-transfer模块，为RestTemplate添加拦截器EncodeTransferMedataRestTemplateInterceptor代码重复冗余"
MetadataTransferRestTemplateConfig#encodeTransferMetadataRestTemplatePostProcessor方法：

[code]

EncodeTransferMetadataRestTemplatePostProcessor#postProcessAfterInitialization方法：

[code]

MetadataTransferRestTemplateConfig#encodeTransferMetadataRestTemplatePostProcessor方法和EncodeTransferMetadataRestTemplatePostProcessor#postProcessAfterInitialization方法中为RestTemplate增加拦截器的代码重复冗余了。

看注释大概意思是考虑到RestTemp

[2022-07-14 03:04] SkyeBeFreeman commented on #431
可以先删去冗余代码。这个metadata传递应该补强依赖loadbalancer，所以不一定要给被LoadBalanced注解修饰的RestTemplate才添加拦截器？

[2022-07-14 03:06] DerekYRC commented on #431
我想参照LoadBalancerAutoConfiguration中为RestTemplate添加LoadBalancerInterceptor拦截器的做法，在配置类中注入所有RestTemplate，然后为其添加EncodeTransferMedataRestTemplateInterceptor拦截器，OK吗？

[2022-07-14 03:08] SkyeBeFreeman commented on #431
可以的👏

[2022-07-14 03:08] #405 closed

[2022-07-14 03:51] quicksandznzn opened #432 "Are there any plans for distributed transaction"

[2022-07-14 03:52] quicksandznzn commented on #432
#377

[2022-07-14 03:52] #432 closed

[2022-07-14 12:15] biubiue opened #433 "suggest: rename property `method` as `path` in ServiceCallResult.class"
**What is the feature you want to add?**
change property `method` as `path` in `com.tencent.polaris.api.rpc.ServiceCallResult`
**Why do you want to add this feature?**
When reading code ,`method` always let's think it's a `method`,->`HttpMehod`.
And  assign a value to it by `URI.getPath()` in source code ,like `com.tencent.cloud.polaris.circuitbreaker.feign.PolarisFeignClient`.
**How to implement

[2022-07-14 12:32] SkyeBeFreeman commented on #433
I will explain the specific meaning of the fields in the comments of `com.tencent.polaris.api.rpc.ServiceCallResult#method`.

[2022-07-15 03:01] #431 closed

[2022-07-15 03:20] #406 closed

[2022-07-15 07:25] #314 closed

[2022-07-15 08:39] #433 closed, assigned to nobody

[2022-07-15 10:18] XW512 opened #438 "How to configure blue-green calls of internal services"
如果我有两个服务，A服务与B服务，B服务有blue环境和green环境，A服务通过feign或者restTemplate内部应用名调用，服务路由那边应该怎么配置能动态的切换由A服务调用B服务的blue环境，切换到A服务调用B服务的green，并且能够自由切换

[2022-07-15 11:20] SkyeBeFreeman commented on #438
可以在B服务所在的环境通过环境变量配置标签，参考这个[文档](https://github.com/Tencent/spring-cloud-tencent/wiki/Spring-Cloud-Tencent-Metadata-Transfer-%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97#%E7%B3%BB%E7%BB%9F%E7%8E%AF%E5%A2%83%E5%8F%98%E9%87%8F%E8%AF%BB%E5%8F%96)，然后在A服务通过北极星控制台添加路由规则即可。

[2022-07-15 11:38] XW512 commented on #438
好的，感谢感谢，我还有一个疑问，可以有对应的接口或者SPI来修改主调端对被调端的标签的值吗？因为在实际使用过程中，可能会切换B的版本并保证A服务调用的也是切换版本之后的B服务

[2022-07-15 12:50] lepdou commented on #438
切换 B 的版本，应该伴随着应用的重启把？如果需要重启的话，可以每次版本变更的时候，改变版本号。这样还是静态的标签。

----
如果真正做到动态标签，会很复杂。就像你说的，通过暴露接口动态修改标签，那需要圈一批机器，一台一台调用，另外修改之后是不是还要持久化变更值，否则重启又失效了。管理上会非常复杂，而且容易搞出问题。

所以标签的话，基本上都是静态的，跟部署时候的状态绑定，比如环境变量、启动参数等。这样就简单，好管理，不容易出问题

[2022-07-15 14:04] XW512 commented on #438
感谢你的回复，我想的方案是通过通知机制或者订阅的方式，每个节点监听，然后如果被调端发生了版本切换，那么就修改这个被调端的版本，应用启动的时候，会先去拉取被调端的版本，我们一般是有两个版本，一个blue，一个green，轮流发版本，如果灰度的版本验证没问题之后，就会切换版本，所以我想再切换版本的时候，调用接口或者SPI来修改被调端的标签信息，这样的话，就可以改变被调端的版本了

[2022-07-15 15:57] cheese8 commented on #242
PolarisAutoServiceRegistration extends AbstractAutoServiceRegistration and register instance while WebServerInitializedEvent for now, we need to change it to ApplicationReadyEvent.

[2022-07-18 05:40] #297 closed

[2022-07-18 05:40] #410 closed

[2022-07-18 06:47] DerekYRC opened #445 "router模块基于ribbon的负载均衡接口IRule做扩展的做法，破坏了ribbon为每个服务自定义负责均衡规则的使用方式"
简单讲下原理。```RibbonClientConfigurationRegistrar```配置类将```@RibbonClients```注解修饰的配置类包装为```RibbonClientSpecification```，然后```SpringClientFactory```（继承自NamedContextFactory）根据```RibbonClientSpecification```和ribbon默认配置类```RibbonClientConfiguration```为每个服务创建一个子应用上下文```AnnotationConfigApplicationContext```，来隔离不同服务的ribbon核心API配置（包含```ServerList```、```IPing```、```IRule```、```ServerListUpdater```、```ILoadBalanc

[2022-07-18 08:26] DerekYRC commented on #445
成本过高是指开发成本吗？

具体是哪个版本的```spring-cloud-commons```抛弃ribbon？

是不是后续的路由功能不是基于ribbon做扩展？既然路由功能模块router是基于ribbon实现，是不是兼容ribbon本身的使用方式更好一点？

[2022-07-18 08:49] DerekYRC commented on #445
后续的路由功能会基于```spring-cloud-loadbalance```开发吗？

[2022-07-18 15:29] zzl86 opened #448 "请问使用spring-cloud-starter-tencent-metadata-transfer在链路中传递元数据，支持线程切换的情况吗？"
使用spring-cloud-starter-tencent-metadata-transfer在链路中传递元数据，支持线程切换的情况吗？

[2022-07-18 16:03] SkyeBeFreeman commented on #448
@zzl86 是复用线程池的线程切换，还是直接新建线程的线程切换呢？新建线程目前已经支持，复用线程池将在1.7.0版本发布后支持。

[2022-07-19 02:06] SkyeBeFreeman commented on #445
是的，后续会考虑将主分支切换到更新版本的 Spring Cloud 。

[2022-07-19 03:39] misselvexu commented on #448
Reference: https://github.com/Tencent/spring-cloud-tencent/issues/372

[2022-07-19 15:36] lingxiao-wu commented on #389
我基于2021分支开发完合并上游2021代码后maven构建项目有点问题，并且2021分支代码拉下来编译也有问题，大致报错如下，感觉可能是统一依赖管理有点问题
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/51630311/179790611-941ef544-53e2-4777-ac59-2d165d0e6271.png">

[2022-07-19 15:54] SkyeBeFreeman commented on #389
看起来是没有是用到项目内配置的repository，导致没有拉取到snapshot的polaris-java，可以check一下本地maven配置是否冲突。

[2022-07-21 09:11] #293 closed

[2022-07-21 09:18] SkyeBeFreeman commented on #233
后续在 polarismesh/polaris#438 同步。

[2022-07-21 09:18] #233 closed

[2022-07-22 01:51] DoubleLuXu commented on #421
请问这个 可以 重新打开吗
我昨天看到，可以完成这个，
今天没想到就关闭了。

[2022-07-22 01:53] SkyeBeFreeman commented on #421
可以的👏

[2022-07-22 08:47] misselvexu commented on #448
The scenario of passing `ThreadLocal` values in the case of using thread pools and other execution components that will pool multiplex threads can be solved using existing three-party open source solutions directly.

[2022-07-22 08:47] misselvexu commented on #372
The scenario of passing `ThreadLocal` values in the case of using thread pools and other execution components that will pool multiplex threads can be solved using existing three-party open source solutions directly.

[2022-07-23 15:14] SkyeBeFreeman commented on #421
@pandaapo  最开始是想着新建单测，后面加了一部分后想着看有没有人愿意加多一点，不过很久没人认领，就先关闭了。后来 @DoubleLuXu 申请打开就assign给ta了。如果您想参与贡献，也可以看看其他模块的单测覆盖提升，可以直接PR的。

[2022-07-24 08:35] #448 closed

[2022-07-24 10:24] lingxiao-wu commented on #372
在Spring环境下，为了线程池能优雅关闭，一般会选择将线程池提交给IOC容器管理，我们是否有必要提供一个后置处理器，用于将Java的线程池包装成TTL线程池，这样可以减少TTL对用户代码的侵入，也可以避免使用TTL java agent。

此外,METADATA_CONTEXT目前使用InheritableThreadLocal，TTL版本建议使用2.3.0之后的版本，之前的版本可能无法正确处理没有经过TransmittableThreadLocal包装的ThreadLocal对象
[code]

[2022-07-25 01:41] DerekYRC commented on #445
好的，期待后面参与一起开发。如果需要支持服务级别的自定义路由规则我就提个PR，不需要支持的话我就关闭issue。

[2022-07-25 02:57] SkyeBeFreeman opened #462 "Fix the code analysis error."
Check here [lgtm.com](https://lgtm.com/projects/g/Tencent/spring-cloud-tencent/).

[2022-07-25 03:38] SkyeBeFreeman commented on #445
目前使用router的时候确实只会指定所有ribbon的负载均衡方式而没有为每个ribbon客户端指定不同的负载均衡算法。那么支持服务级别的自定义路由规则你有什么想法呢？可以在这个issue里面讨论下，后面再提个PR，我们放在 1.8.0 milestone~

[2022-07-25 11:35] DerekYRC commented on #445
造成这个问题的原因是显式地在```RibbonConfiguration```实例化了```PolarisLoadBalancerCompositeRule```，所以```SpringClientFactory```为每个服务创建的子应用上下文```AnnotationConfigApplicationContext```只能选择```PolarisLoadBalancerCompositeRule```作为```IRule```的实现。

我想到的一个解决方法是不要显式实例化```PolarisLoadBalancerCompositeRule```，可以在```BeanPostProcessor```的```postProcessBeforeInitialization```阶段使用```PolarisLoadBalancerCompositeRule```包装指定的```IRule

[2022-07-26 02:36] misselvexu commented on #462
Of course you can ~

[2022-07-27 04:59] SkyeBeFreeman opened #470 "配置动态刷新的反射模式相关的bean实例化添加conditional判断"
**What is the feature you want to add?**

**Why do you want to add this feature?**

如果使用refresh_context的方式实现动态配置刷新，也会实例化反射的方式的相关bean，可以看看能否不实例化。

**How to implement this feature?**

添加`@ConditionalOnConfigReflectEnabled`注解，并添加到响应的bean实例化方法上。

**Additional context**
No.

[2022-07-27 07:15] atomzhong opened #471 "需要支持以pushgateway方式上报监控数据"
**What is the feature you want to add?**

**Why do you want to add this feature?**

**How to implement this feature?**

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-07-27 15:20] lingxiao-wu commented on #470
这个任务给我试试

[2022-08-01 05:11] SkyeBeFreeman commented on #470
Sounds cool.

[2022-08-02 02:27] weihubeats opened #480 "PolarisRegistration delete implement ServiceInstance"
**What is the feature you want to add?**
Registration already  ServiceInstance, no need to implement ServiceInstance interface repeatedly

**Why do you want to add this feature?**

**How to implement this feature?**

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-08-02 02:58] SkyeBeFreeman commented on #421
@DoubleLuXu if your PR to 2021 is ready?

[2022-08-02 03:20] DoubleLuXu commented on #421
sorry, I will submit it as soon as possible .

[2022-08-02 03:21] SkyeBeFreeman commented on #421
That's OK. At your convenience.

[2022-08-02 03:23] DoubleLuXu commented on #421
yes . I convenient

[2022-08-02 03:36] #480 closed

[2022-08-02 06:17] #421 closed

[2022-08-02 08:40] WlisonChan opened #486 "北极星1.4.3-2020.0.5 版本负载均衡算法问题"
**What is the feature you want to add?**
当前的北极星版本：1.4.3-2020.0.5，在服务主调其他服务接口失败后切换重试节点使用的是随机负载均衡的算法。

希望能支持以下功能：可以自定义实现类似负载均衡的算法，以及提供默认的轮询负载均衡算法、随机负载均衡算法。

**Why do you want to add this feature?**
北极星版本：1.4.3-2020.0.5
我在进行北极星和springcloud 2020版本测试（测试过程如下图）：测试 主调失败重试 时有个疑问：主调方失败后重试的节点是随机取的，有可能取到同一个节点，这不太合理。因为有这么一个场景，我们k8s上的pod每次发布时都是滚动更新的，滚动更新期间有请求的流量打过来就会失败，此时不应该再在这个节点上进行重试，而是切换节点进行重试。

测试过程：

北极星注册

[2022-08-02 08:52] WlisonChan opened #487 "北极星1.6.0-2020.0.5 版本，服务的单节点下线后通过网关请求服务时仍有流量打入此下线节点"
北极星版本：1.6.0-2020.0.5
问题描述：服务正常上线后如下图，有两个节点（8084端口的节点和8085端口的节点），假设8084端口的节点发生OOM或未知故障，通过网关Gateway访问此服务时，仍会请求到8084端口这个有问题的节点。
<img width="1025" alt="image" src="https://user-images.githubusercontent.com/54538165/182333822-f2ab9173-7353-4c7d-97b8-d03d8f1e55f4.png">

[2022-08-03 06:18] #445 closed

[2022-08-04 02:29] lepdou commented on #486
我们修复一下

[2022-08-05 02:21] Jansora commented on #249
虽然你说的是事实, 但在 spring 生态估计外先发优势的情况下, 落后只能先追赶, 目前最高效的做法就是先模仿, 提高自己的社区影响力之后, 再能发布新的技术标准, 才会有更多人愿意追随, 只有更多人追随了, 技术标准才能真正变成事实标准, google, facebook, airbnb 都是这样

[2022-08-05 02:38] Jansora opened #493 "Spring Cloud Tencent Config 链接的远程主机无法打开时未显示标注出错误"
**Describe the bug**

官方给的 polaris 地址是这个

Username: polaris
Password: polaris
Server Address: grpc://183.47.111.80:8091
The example addresses under spring-cloud-tencent-example all point to the experience service address (grpc://183.47.111.80:8091) by default. If you only experience Spring Cloud Tencent, you can run any example directly with one click.

官方提供的 polaris-config-example demo 的 `bootstr

[2022-08-05 06:12] misselvexu commented on #493
@Jansora
Thank you for your feedback ;

According to the information you provided, the expected behavior is to do a health check on the configured remote address before the application is started, and if a problem is found with the remote address, the normal start of the application is directly blocked ？

[2022-08-05 06:26] Jansora commented on #493
on a test machine, it is too common to have several instances on a machine.

when i have multi polaris instances in a linux machine, obviously, their listening port is different.

when a polaris instance is down.  and my application has specified to connect the down polaris instance. but application has connected to other healthy instance.

this hidden result is not what I want.

[2022-08-05 07:09] lianlianyi opened #494 "加入jpa无法启动"
**Describe the bug**
<dependency>
      <groupId>org.springframework.boot</groupId>
      <artifactId>spring-boot-starter-data-jpa</artifactId>
  </dependency>

![image](https://user-images.githubusercontent.com/1701810/183021722-0d9025df-3949-436c-9ddf-b1a0ce719d3a.png)

[2022-08-05 07:48] SkyeBeFreeman commented on #494
这个问题添加如下依赖即可：

[code]

问题产生的原因是spring-cloud-tencent-dependencies将byte-buddy的scope设置为test，导致编译的时候没有添加依赖。如果你是自己单独创建项目而不是直接修改spring cloud tencent的demo，也不会有这个问题。

[2022-08-05 08:16] SkyeBeFreeman commented on #493
@Jansora 可以在`polaris/logs/polaris.log`内看到拉取配置的异常日志。原则上这里不阻塞主进程，不过可以考虑将北极星SDK的error或者warn级别的日志也打印在控制台？

[2022-08-05 09:03] Jansora commented on #493
首先我认为这是个BUG, 因为实际应用启动链接到的 polaris 并不是我想要的, 我不确定这是 STC  或者 polaris sdk 导致的,
其次在配置项明显错误(链接到一个不存在的 polaris)的情况下应用依然启动成功了,
至于日志相关的问题, 我觉得在默认情况下, 至少 ERROR 级别的 polaris 日志应该是被打印出来的.

[2022-08-05 09:07] Jansora commented on #493
关于日志, 我站在用户的角度说下我的个人看法哈, 日志打的多点没关系, 我可以通过配置项来屏蔽掉, 如果日志打的少了, 尤其是缺失关键的 ERROR 日志时, 还是比较难定位哪里出现的问题

[2022-08-05 09:14] SkyeBeFreeman commented on #493
日志是打印了的，只是没有打印在控制台，北极星的日志目前只输出在文件内。

[2022-08-05 09:21] weihubeats commented on #494
Change the byte-buddy scope to the default compile, right?

[2022-08-05 09:31] SkyeBeFreeman commented on #494
@weihubeats Maybe all dependencies set in `<dependencyManagement>` of `spring-cloud-tencent-dependencies` should not be defined as "test" or others? Just remove the `<scope>` label?

[2022-08-05 09:35] weihubeats commented on #494
Yes, just delete the scope tag, the default is compile, mock related dependencies keep the scope as test. Would it be better?

[2022-08-05 09:46] SkyeBeFreeman commented on #494
Sounds good.

[2022-08-05 10:15] lepdou commented on #493
这里面有两个问题：

**问题一：标准输出日志里没有打印 ERROR 日志，只打印到 polaris.log 日志文件里**

这里我觉得可以把 ERROR 和 WARN 都默认打印到标准输出里。 INFO 级别的话，最早的时候也都是打印到标准输出里，然后有用户觉得北极星日志打印太多了，所以当时做了一个优化，就是把北极星日志打到独立的 polaris.log 里。

所以总结一下的话，就是可以优先把 ERROR 和 WARN 都默认打印到标准输出里。至于 INFO 日志，最好是让用户也可以配置。但是目前可能做不到，改动点比较多。

**问题二：应用启动时，连不上配置中心，是不是应该阻塞应用启动**

这个问题确实很关键。按我之前的经验，有些场景下，配置拉失败，应用起不来是最安全的。但是在某些紧急情况下，业务期望不强依赖配置中心，即使配置中心挂了，应用也可以启起来。

解决方案：

1. 默

[2022-08-07 13:10] #494 closed

[2022-08-08 15:26] lingxiao-wu commented on #471
「weopen star」这个任务交给我试试

[2022-08-09 06:35] #389 closed

[2022-08-09 06:36] #462 closed

[2022-08-09 06:44] SkyeBeFreeman commented on #372
This problem will not be considered in this project for the time being, and restarting will be considered later if necessary.

[2022-08-09 06:44] #372 closed

[2022-08-09 06:47] SkyeBeFreeman commented on #438
蓝绿发布相关使用可以关注下个版本的Spring Cloud Tencent（1.8.0），会针对这一场景进行更细致的探索。

[2022-08-09 06:47] #438 closed

[2022-08-09 06:53] qinxiongzhou commented on #384
认领下

[2022-08-10 02:09] #384 closed

[2022-08-11 12:54] #486 closed

[2022-08-12 08:18] WlisonChan commented on #487
增加配置后可以解决，感谢北极星团队协助解决~
spring.cloud.loadbalancer.configurations=polaris

[2022-08-12 08:18] #487 closed

[2022-08-15 03:40] WlisonChan opened #505 "Microservice call failed in GlobalFilter"
**Describe the bug**
We have such a scenario: Authentication is done through the GlobalFilter implementation class in the gateway. The authentication service is called in the GlobalFilter implementation class, and the following error is reported：
（public-service-authority-center is my authentication service）

`[2022-08-15 11:07:40:341]|TID: N/A|reactor-http-nio-3|[ERROR]|AbstractErrorWebExceptionH

[2022-08-15 03:56] misselvexu commented on #505
Which version are you using of `spring-cloud-tencent` ?

[2022-08-15 04:00] WlisonChan commented on #505
We only imported the polaris-discovery dependency package.
   <dependency>
                <artifactId>spring-cloud-starter-tencent-polaris-discovery</artifactId>
                <groupId>com.tencent.cloud</groupId>
                <version>1.6.0-2020.0.5</version>
 </dependency>

[2022-08-15 13:21] DerekYRC opened #508 "wiki文档拼写错误"
PropertySourceLoader修改为PropertySourceLocator
https://github.com/Tencent/spring-cloud-tencent/wiki/Spring-Cloud-Tencent-Config-%E4%BD%BF%E7%94%A8%E6%96%87%E6%A1%A3
![image](https://user-images.githubusercontent.com/44155264/184642958-ca31e71e-82b1-425d-840a-63f3ffc00c6e.png)

[2022-08-16 02:20] misselvexu commented on #508
Okay,  Already fixed .

[2022-08-16 02:20] #508 closed

[2022-08-16 05:41] thomasZhang1982 opened #509 "SCT升级1.6.0-Hoxton.SR12 到 1.7.0-Hoxton.SR12过程中发现 Feign调用无法从配置中心读取动态服务名称"
Java Web工程

原架构环境：主pom构成

dependencyManagement 依赖  spring-boot-dependencies 和  spring-cloud-tencent-dependencies

<spring-boot.version>2.3.12.RELEASE</spring-boot.version>
<spring-cloud-tencent-version>1.6.0-Hoxton.SR12</spring-cloud-tencent-version>

spring-cloud-tencent (1.6.0-Hoxton.SR12) + spring boot (2.3.12.RELEASE)  + openfeign(2.2.1.RELEASE) + spring-cloud-commons(2.2.1.RELEASE)

升级前的feign

[2022-08-17 02:44] dousp commented on #278
我有个疑问哈，开发中系统统一封装了返回结果（包括异常），所以开发者还是需要自己处理下这个限流信息的吧，若是能设置成自己规定的数据结构，还是蛮省心的。

[2022-08-17 03:02] SkyeBeFreeman commented on #278
目前主要是提供的静态限流提示，你这边提及的应该是需要一个可以动态渲染的限流提示？

[2022-08-17 03:14] dousp commented on #278
大概就是提供一个fallback，然后返回开发者自定义要返回的信息吧
另外，北极星上的限流（熔断）监控界面数据怎么来的？需要做什么配置？我正在使用SCT版本是：1.6.0-2021.0.3

[2022-08-17 03:54] SkyeBeFreeman commented on #278
可以单独提一个Issue出来，看看是否有意愿贡献这里相关代码。

[2022-08-17 03:56] SkyeBeFreeman commented on #278
配置好上传监控数据的相关配置即可，[配置文档](https://github.com/Tencent/spring-cloud-tencent/wiki/RPC%E5%A2%9E%E5%BC%BA#%E6%8C%87%E6%A0%87%E7%9B%91%E6%8E%A7%E6%8F%92%E4%BB%B6)。在触发限流或者熔断时，即可上报。

[2022-08-17 05:54] dousp commented on #278
1.6.0-2021.0.3   这个版本好像不支持这个插件呢，只能等1.7了。目前SCT没看到有1.7这个分支。。。

[2022-08-17 07:01] SkyeBeFreeman commented on #278
是的，2020和2021版本还在开发中~

[2022-08-18 02:18] XW512 opened #513 "支持polaris发布的配置文件下载到微服务的某个路径下"
现在polaris中发布的配置文件是加载到内存的，能否支持下载到微服务的某个路径下，这样更方便去查看配置文件的内容是否下发成功

[2022-08-18 02:35] chuntaojun commented on #513
这个issue将转移到 polarismesh/polaris 仓库中跟进处理

[2022-08-18 02:37] #513 closed

[2022-08-18 02:51] XW512 commented on #513
这个应该是spring-cloud-tencnet这个框架支持就可以了吧，不需要polaris进行处理？因为拉取配置是spring-cloud-tencent，而不是polaris

[2022-08-18 02:54] SkyeBeFreeman commented on #513
spring-cloud-tencent 利用 polaris-java 与 polaris 交互，然后将 polaris-java 获取到的配置以一个简单的形式提供给用户使用，而不是直接从 polaris 拉取配置。

[2022-08-18 03:00] XW512 commented on #513
噢噢，明白了

[2022-08-18 03:19] SkyeBeFreeman commented on #509
需要讨论 Feign 版本变更带来的影响。

[2022-08-18 03:22] SkyeBeFreeman opened #514 "Feign调用结果上报支持请求标签上报"
**What is the feature you want to add?**

在`spring-cloud-tencent-rpc-enhancement`模块中的上报调用结果工具中，添加请求标签字段的上报。

**Why do you want to add this feature?**

可观测性页面可以使用请求标签筛选。

**How to implement this feature?**

**Additional context**

开发前需要讨论实现思路。

[2022-08-18 07:04] chuntaojun commented on #514
是这样子的

[2022-08-18 07:21] SkyeBeFreeman commented on #514
@pandaapo RestTemplate 和 Feign 的做法应该不同，你这边是想实现 RestTemplate 的方式是吧？

[2022-08-18 07:29] SkyeBeFreeman commented on #514
噢噢我是想问是想实现 Feign 的方式，写错😂

[2022-08-24 07:11] #471 closed

[2022-08-25 09:24] WlisonChan commented on #505
I used the following solution, which can be solved.

Reference scheme: Create an asynchronous thread to execute the authentication request

[2022-08-25 09:24] #505 closed

[2022-08-25 14:34] beiming-tuling opened #537 "服务注册必须添加spring-boot-starter-web包才生效"
**Describe the bug**
服务注册必须添加spring-boot-starter-web包才生效

**To Reproduce**
![image](https://user-images.githubusercontent.com/81206614/186693068-42cad978-b0ac-4d8b-a1dd-c83fdc93d04f.png)
![image](https://user-images.githubusercontent.com/81206614/186693100-423c1427-2ac1-416c-b5e1-32a349c9ee13.png)
![image](https://user-images.githubusercontent.com/81206614/186693237-59d0fd6c-e63d-4ff7-9dbc-9a1e3e7

[2022-08-25 14:41] DerekYRC commented on #537
@beiming-tuling 服务发现可以不依赖spring-boot-starter-web，服务注册为什么不依赖spring-boot-starter-web呢？服务注册不依赖spring-boot-starter-web那监听端口是？

[2022-08-25 14:54] beiming-tuling commented on #537
@DerekYRC 如果我的rpc框架不是feign和resttemplate，而是grpc和dubbo等等。那么我用tomcat的意义是什么呢？

[2022-08-25 14:54] beiming-tuling commented on #537
@DerekYRC 我就没有必要引入spring-boot-starter-web这个包了对吧。

[2022-08-25 15:10] DerekYRC commented on #537
Get

[2022-08-26 05:09] chuntaojun commented on #537
目前 spring cloud 的服务注册，是基于 spring cloud 本身提供的 web 服务的，您这里说的 如果是 grpc 或者 dubbo 的话，应该在 grpc-server & dubbo 本身完成服务注册动作，因为 spring cloud 对您的业务来说只是一个容器而已，服务的提供者是 grpc & dubbo

[2022-08-26 05:51] beiming-tuling commented on #537
不能把服务提供者框定在tomcat对不对，如果我没有提供，你可以阻止我进行服务发现，但是你不能阻止我进行服务注册

[2022-08-26 05:51] beiming-tuling commented on #537
@chuntaojun

[2022-08-26 06:01] chuntaojun commented on #537
如果是 grpc 或者 dubbo 的话，应该在 grpc-server & dubbo 本身完成服务注册动作

[2022-08-26 08:59] SkyeBeFreeman commented on #537
在 Spring Cloud 框架实现中，服务注册的行为可以由 `WebServerInitializedEvent` 事件触发的。如果没有引入 `spring-boot-starter-web` 包，则没有这个事件来触发服务注册。其他的服务提供的实现也需要给出相应的注册触发行为。

[2022-08-26 13:34] #537 closed

[2022-08-27 01:40] chuntaojun commented on #514
具体代码贴一下？

[2022-08-29 01:41] SkyeBeFreeman commented on #514
形如 `a:b|c:d` 的字符串。

[2022-08-29 02:27] #278 closed

[2022-08-31 07:24] #470 closed

[2022-09-01 01:42] SkyeBeFreeman commented on #514
大体思路是可以的，只是RestTemplate的数据上报最近在重构，可以等重构完再继续完成这一块的实现。

[2022-09-05 01:48] chuntaojun opened #557 "SCT中 heartbeat-interval 的单位设计是毫秒，但是JAVA-SDK中TTL的单位是秒"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment**
- Version: [e.g. v1.0.0]
- OS: [e.g. CentOS8]

**Additional context**
Add any other context about the problem here.

[2022-09-05 02:12] SkyeBeFreeman commented on #557
Will fix in the next version.

[2022-09-05 03:17] #557 closed

[2022-09-05 06:43] JavaLionLi opened #561 "为什么 PolarisMesh 都1.11.0了 这边才支持到1.7.0 那我到底要怎么选型呢 是否可以用1.11.0"

[2022-09-05 06:45] SkyeBeFreeman commented on #561
都使用最新版即可，版本号没有强对应关系

[2022-09-05 09:09] #561 closed

[2022-09-06 03:37] #493 closed

[2022-09-06 09:32] andrewshan opened #563 "支持协议标签透传"
**What is the feature you want to add?**
SCT用户，在Feign和RestTemplate的调用模式下，需要将header每一层调用的过程中，传递下来。

**Why do you want to add this feature?**
在全链路灰度的模式下，如果用户需要支持按请求来进行路由，则针对从网关到微服务的每一层，都需要将用于路由的header原样透传下来，使得后面的服务也可以使用这个标签来进行路由匹配计算。
类似下面的金丝雀发布的应用场景三：

https://github.com/polarismesh/polaris/issues/631

**How to implement this feature?**
用户可以在pod中，增加一个环境变量，指定需要透传的标签，SCT识别到这个标签后，就进行传递

**Additional co

[2022-09-06 12:11] SkyeBeFreeman commented on #514
RestTemplate 已经重构完成，看下最近有空参与这一块的开发不？

[2022-09-06 12:17] SkyeBeFreeman commented on #563
比如说有个请求的头部包含 `x-uid=100`，使用者想将这个头部往下游传递，并且保持头部为 `x-uid`，而不是 `SCT_METADATA_CONTENT_TRANSITIVE=x-uid0` 的方式。

[2022-09-07 02:13] SkyeBeFreeman commented on #563
主要思想应该是不想带有 `SCT` 开头的标签，而是用更通用的方式，以兼容其他语言和框架。

[2022-09-07 04:05] SkyeBeFreeman opened #566 "Add a dependency for importing all spring cloud tencent modules."

[2022-09-07 10:12] andrewshan commented on #563
是的，提这个issue的初衷主要是，当前SCT透传的时候，是会带上透传的前缀的，比如如果我需要透传消息头env=xxxx，那么实际上在service-to-service的调用中，env是放在消息头中，以x-polaris-metadata-env=xxx的方式来透传，在下游拿到的并非原来的消息头报文。

实际使用场景中，还需要一种原报文的透传方式，比如我设置需要透传消息头env=xxx，那么可能我只需要设置一个环境变量：SCT_PROTOCOL_CONTENT_TRANSITIVE_HEADER=env，那么在服务调用中，直接在消息头里面透传的数据就是原文的消息头：env=xxx，不会带上前缀。

[2022-09-08 12:13] SkyeBeFreeman opened #579 "RestTemplate调用结果上报支持请求标签上报"
**What is the feature you want to add?**

在`spring-cloud-tencent-rpc-enhancement`模块中添加 RestTemplate 请求标签字段的上报。

**Why do you want to add this feature?**

可观测性页面可以使用请求标签筛选。

**How to implement this feature?**

**Additional context**

[2022-09-08 12:14] SkyeBeFreeman commented on #514
转移到 #579

[2022-09-08 12:14] #514 closed

[2022-09-13 02:08] galaxy-sea opened #584 "监听InstancePreRegisteredEvent无法修改PolarisRegistration相关信息, 如修改metadata相关信息"
**Describe the bug**
监听InstancePreRegisteredEvent无法修改PolarisRegistration相关信息, 如修改metadata相关信息,

目前PolarisRegistration.metadata字段的map实现类使用的是UnmodifiableMap, PolarisRegistration.host字段被final修饰, 导致无法利用InstancePreRegisteredEvent进行一系列的骚操作

**To Reproduce**
Steps to reproduce the behavior.
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
PolarisRegistration.m

[2022-09-13 03:52] SkyeBeFreeman commented on #584
Use English PR title.

[2022-09-14 11:11] 77321660 opened #593 "项目依赖spring-retry时，执行restTemplate调用微服务报NPE错误"
**Describe the bug**
项目依赖spring-retry时，执行restTemplate调用微服务报NPE错误

**To Reproduce**
1、向测试工程中增加spring-retry依赖
https://github.com/Tencent/spring-cloud-tencent/blob/hoxton/spring-cloud-tencent-examples/quickstart-example/quickstart-caller-service/pom.xml
<img width="696" alt="image" src="https://user-images.githubusercontent.com/3907055/190138406-9de31bb6-d64b-42cb-bf21-ae39612f0c1e.png">

2、启动项目访问：ht

[2022-09-14 11:16] SkyeBeFreeman commented on #593
目前 Spring Cloud Tencent 仅针对普通RestTemplate调用时使用的`LoadBalancerInterceptor`进行改造，当引入`spring-retry`模块依赖时，RestTemplate调用会改为使用`RetryLoadBalancerInterceptor`，因此需要添加对`RetryLoadBalancerInterceptor`的改造，以支持在使用`spring-retry`依赖时也能正常进行服务路由。

[2022-09-15 03:58] lepdou opened #598 "【需求认领】配置中心支持本地开发模式"
**What is the feature you want to add?**
配置中心支持本地开发模式

**Why do you want to add this feature?**
在某些场景下，比如：
1. 公司外网，连不上北极星服务
2. 没有网络
3. 为了研发配置互相隔离，直接使用本地的配置文件

需要支持直接读取本地的配置文件作为北极星的配置来源，而不是从北极星服务端读取。

**How to implement this feature?**

1. Polaris-java 支持配置缓存到本地文件，这样初始化配置文件就非常方便，把缓存的配置文件作为基准版本，然后缓存的基础上修改配置即可。
2. SCT 支持读取本地缓存的配置文件。
  2.1 SCT 可以指定本地配置文件目录作为配置来源
  2.2 SCT 监听根目录的配置变更，可以动态加载配置，并触发回调。 也就

[2022-09-15 04:04] lepdou opened #599 "【需求认领】配置变更支持 Spring 原生的 Event 事件"
**What is the feature you want to add?**

目前动态配置支持监听配置变更事件，[自定义配置监听器](https://github.com/Tencent/spring-cloud-tencent/wiki/Spring-Cloud-Tencent-Config-%E4%BD%BF%E7%94%A8%E6%96%87%E6%A1%A3#%E8%87%AA%E5%AE%9A%E4%B9%89%E9%85%8D%E7%BD%AE%E7%9B%91%E5%90%AC%E5%99%A8)

但是上述实现是 SCT 自己实现的，并没有对接 Spring 原生的 Event 机制，期望可以通过 Spring 的 Event 机制实现配置变更的监听。
**Why do you want to add this feature?**

**How to impleme

[2022-09-15 04:06] DerekYRC commented on #599
@lepdou 我来试试。有时间要求吗？预计下周才有时间研究和编写代码

[2022-09-15 05:23] SkyeBeFreeman commented on #599
时间上先暂定这个月~

[2022-09-15 05:55] DoubleLuXu commented on #598
这个我来试试

[2022-09-15 06:16] lepdou commented on #599
@DerekYRC
感谢支持~
时间上没有要求，不是紧急需求

[2022-09-15 06:17] lepdou commented on #598
@DoubleLuXu
感谢支持~

SCT 支持读取本地缓存的配置文件。
2.1 SCT 可以指定本地配置文件目录作为配置来源
2.2 SCT 监听根目录的配置变更，可以动态加载配置，并触发回调。 也就说，在SCT配置 API 层面，完全和远程模式一样

上面是我初步的想法，可能有些地方没考虑周全，有更好的实现。

--------

目前北极星的一些治理规则会缓存到 polaris/backup/ 目录下，是不是也缓存到这个目录下，比如：
[code]
![image](https://user-images.githubusercontent.com/4991116/190329777-c028fbac-3721-4396-9e73-3ec36597ce30.png)

然后在 polaris-java 里，如果连不上北极星服务的时候，可以 fallback 到本地缓存。这里可以新增

[2022-09-15 06:18] DerekYRC commented on #599
@lepdou @SkyeBeFreeman 好的，没问题

[2022-09-15 06:27] lepdou commented on #598
目前北极星的一些治理规则会缓存到 polaris/backup/ 目录下，是不是也缓存到这个目录下，比如：
[code]
![image](https://user-images.githubusercontent.com/4991116/190329777-c028fbac-3721-4396-9e73-3ec36597ce30.png)

[2022-09-15 09:00] DoubleLuXu commented on #598
sorry，我刚才有点事。
这个我现在的想法是：这个属于配置方式，在polaris-java实现，SCT配置覆盖即可
1，缓存目录默认使用 polaris/backup/config 然后可以指定自己的项目配置路径，可以在本地开发的时候方便点。
2，北极星连不上是否fallback到本地缓存可以添加一个配置开关。
3，根据配置监听目录文件的变更，类似nacos中缓存文件变更，使用一个后台任务定时去扫描配置路径文件的变化，发布变更事件去触发配置的重新加载。
以上是我目前的想法，然后我还没看polaris-java的代码，我这几天研究下，有问题的话可以指出
我看代码后有新的想法也会放在这理讨论一下

[2022-09-15 10:04] pandaapo commented on #579
@SkyeBeFreeman main分支是重命名成hoxton了吗？我基于main分支做的修改，是不是应该PR到hoxton分支？

[2022-09-15 12:18] SkyeBeFreeman commented on #579
是的

[2022-09-15 12:18] SkyeBeFreeman commented on #563
可以的👏

[2022-09-15 13:45] pandaapo commented on #563
那让我试试。

[2022-09-15 15:39] CherryRum commented on #598
3的话不要使用定时任务，这个太容易出现问题，建议尝试```java.nio.file.WatchService```

[2022-09-16 01:49] DoubleLuXu commented on #598
👌，我看了下WatchService 确实是更好的，感谢提醒

[2022-09-16 01:52] misselvexu commented on #377
Follow the PR of Seata community,

[Seata-PR # support tencent polaris discovery](https://github.com/seata/seata/pull/4894)

[2022-09-16 05:17] andrewshan commented on #563
感谢，看看下周是否可以整完，我这边也刚好配合这个功能做个灰度发布直播？

[2022-09-16 09:38] #593 closed, assigned to nobody

[2022-09-16 12:34] pandaapo commented on #563
可以.

[2022-09-21 08:41] ligj001 commented on #200
组织：宁波中茂网络
网址：www.joinf.com
![logo](https://user-images.githubusercontent.com/114062668/191457699-922c36ab-bbcf-4c63-8f18-6d643e685b0c.png)

[2022-09-21 13:16] andrewshan commented on #563
@pandaapo 大概什么开始PR呢？

[2022-09-22 10:33] pandaapo commented on #563
不好意思没有及时回复，明晚开始PR，可来得及？

[2022-09-22 12:18] misselvexu opened #602 "[Feature] Upgrade and compatible with spring cloud 2022.x"
**What is the feature you want to add?**
Spring Cloud version 2022.0 will be available in two or three months.

**Why do you want to add this feature?**
Adaptation to `Spring Boot 3.0` and `Spring Cloud 2022` 's new features.

**How to implement this feature?**
- [ ] Upgrade `spring-cloud-build` version and ensure compatibility
- [ ] Upgrade `spring-boot` version and ensure compatibility
- [ ] Upg

[2022-09-23 01:46] andrewshan commented on #563
可以的，看看今晚PR一下~

[2022-09-26 10:07] #584 closed

[2022-09-26 14:47] chuntaojun opened #614 "SCT 支持全链路灰度的demo，结合 envoyproxy 以及 北极星"
**What is the feature you want to add?**

**Why do you want to add this feature?**

**How to implement this feature?**

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-09-27 03:39] VVFtang opened #615 "可以手动配置router的失败降级策略吗"
我看MetadataRouter的默认FailOverType是all，请问可以在哪里修改此配置

[2022-09-27 13:07] xiaoyao1999hn opened #616 "feign接口采用url方式调用报错，如图所示"
<img width="929" alt="image" src="https://user-images.githubusercontent.com/25003047/192533652-65d4270a-c669-4620-93c0-6e6f22c30e16.png">
<img width="1293" alt="企业微信截图_86c5eb22-33d9-4abf-9755-4a886e112776" src="https://user-images.githubusercontent.com/25003047/192534543-1099e228-0d61-46a8-a37d-99a44d04d99b.png">
<img width="1208" alt="image" src="https://user-images.githubusercontent.com/25003047

[2022-09-27 13:13] lepdou commented on #615
@VVFtang
1. 请求粒度可以参考这个类 [FeatureEnvRouterRequestInterceptor](https://github.com/Tencent/spring-cloud-tencent/blob/2021.0/spring-cloud-tencent-plugin-starters/spring-cloud-tencent-featureenv-plugin/src/main/java/com/tencent/cloud/plugin/featureenv/FeatureEnvRouterRequestInterceptor.java#L63)

2. 全局配置文件的话，目前得在 resources/polaris.yml 里配置

[code]

北极星所有默认的配置都在这个文件里 [default-config.yml](https://github.c

[2022-09-27 13:23] michaelwangwangwang opened #617 "提供RetryLoadBalancerInterceptor路由规则"

[2022-09-29 02:35] DerekYRC commented on #599
@lepdou @SkyeBeFreeman 讨论下两个问题：

1、"把已有的ConfigChangeEvent类作为Source"的做法可能不太合理。发布ConfigChangeEvent事件的前提是PolarisConfigKVFileChangeListener注解指定了感兴趣的keys，如果没有指定感兴趣的keys就不发布Spring的配置更新事件，显然不合理。

把更新的配置项（下图中的changes变量）作为事件的source，如何？

![image](https://user-images.githubusercontent.com/44155264/192925658-65de9cd2-b1d5-4d58-b850-bad49834a4d5.png)

2、事件命名为ConfigChangeSpringEvent，如何？

[2022-09-29 07:29] lepdou commented on #616
Fix #623

[2022-09-29 08:03] pandaapo commented on #616
可能我哪里理解有问题。之前我看截图中的堆栈信息，觉得这不应该是polaris-java中的bug吗？

[2022-09-30 02:10] lepdou commented on #616
这个原因是 sct 上报调用结果到 polaris-java 里的时候，port 端口号 -1 导致的。feign  url 硬负载的场景下，可能就是没有端口，所以没取到端口。

[2022-09-30 02:39] misselvexu commented on #599
1, The configuration change published events, Whether to publish all change events or based on the business specified configuration key, this place for the definition of the function is different , does it need to be discuss ? @lepdou

2, ConfigChangeListener parameters can not be defined as events,  can change class name, the version upgrade is recommended to consider backward compatibility (`@Po

[2022-09-30 02:55] zhaojiaiqing commented on #249
点个start支持一波儿～

[2022-09-30 06:42] davionchen opened #624 "提取system-metadata-router-keys和allMetadata异常"
**Describe the bug**

提取system-metadata-router-keys和allMetadata异常

**To Reproduce**

复现过程：
1、跳过SpringMVC容器，直接触发PolarisAutoServiceRegistration注册
2、执行如下代码；
[code]

3、出现异常, 从http header 中找标签system-metadata-router-keys和allMetadata  异常

[code]

**Environment**
- SCT:1.7.0-2020.5

**Additional context**
Add any other context about the problem here.

[2022-09-30 10:45] #616 closed, assigned to lepdou

[2022-10-08 11:12] lepdou commented on #617
#593 #594

[2022-10-10 03:04] davionchen opened #632 "SCT支持对Http代理服务进行负载均衡"
**What is the feature you want to add?**
SCT 外调地址重写,支持对Http代理服务器进行负载均衡。

**Why do you want to add this feature?**
为什么要对 Http代理服务器进行负载均衡，目的是在北极星进行统一流量控制。 而且应用层控制流量，能够处理更多的故障切换场景。

SCT典型的使用场景 内网系统之间的调用，默认情况下，根据Instance的IpPort构造URL地址。

但是在金融业务场景中，会遇到内网调用外网的情况。外网服务提供HttpUrl。内网的前置服务，利用ECN区的Http代理服务访问外网服务。考虑可用性，Http代理服务会部署多台。前置服务根据实际情况动态切换Http代理服务。

前置服务 | <--polaris/http-->Http代理服务1| <--VPN/专线---> 外网服务

[2022-10-10 06:31] #615 closed, assigned to nobody

[2022-10-10 08:13] lepdou commented on #624
fixed #634

[2022-10-10 08:48] pandaapo commented on #632
没太明白实现方案中的代理服务的作用？是在该服务中应用url重写插件和DefaultProxyRoutePlanner吗，然后内网服务来调该代理服务访问外网？

[2022-10-10 11:05] #624 closed, assigned to lepdou

[2022-10-10 11:05] lepdou commented on #617
implement in #633 #631

[2022-10-10 11:06] #617 closed, assigned to lepdou

[2022-10-10 11:14] lepdou commented on #599
@DerekYRC @misselvexu

我觉得 spring 的 event 机制和 PolarisConfigKVFileChangeListener 应该是两个独立的处理逻辑，不应该有”潜在“的关系。所以 spring 的 event 应该是所有变更事件都要发布这个事情，然后在事件处理的地方用户自己去处理感兴趣的key。

----

我觉得可以

----

可以的

[2022-10-11 01:22] DerekYRC commented on #599
好的

[2022-10-11 07:56] myNameZhulu commented on #310
谢谢 后来已经找到了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Haotian ***@***.***&gt;;
发送时间: 2022年7月5日(星期二) 中午11:16
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [Tencent/spring-cloud-tencent] 能发布对应的Spring boot版本号关系么？ (Issue #310)

已完成关闭#310。

—
直接回复此邮件，在 GitHub 上查看，或取消订阅。
你收到这个是因为你被提到了。消息ID：<Tencent/spring-cloud-tencent/issue/310/issue_event/6931015063 @ github 。com

[2022-10-11 10:02] #563 closed

[2022-10-13 02:20] lepdou commented on #632
@pandaapo 翻译成 SCT 的语言是这样子：
1. 北极星上的服务地址，并不是服务端自动注册上去的，而且人工在管控台配置的IP地址。这个IP 地址是 RestTemplate 的代理地址，并不是实际调用的目标地址
2. 在 RestTemplate 实际发生调用时，把代理地址替换成一个实际外调访问的域名（所以用于外调外网第三方接口用的，不是内部服务调用），并且把代理地址设置到 ApacheHttpCleint 里。

------------
**目的**
目的是想复用 SCT + 北极星这套服务治理能力，比如服务路由、熔断等。

------------
**实现**
这个实现的话有点难度，估计要把 RestTemplate 里面的一些口子给暴露成 SPI，让用户可以 修改目标地址之类的。

[2022-10-13 08:23] lepdou commented on #598
#640

[2022-10-16 06:11] davionchen commented on #632
feign呢？

[2022-10-17 02:56] #614 closed, assigned to nobody

[2022-10-17 03:41] #579 closed

[2022-10-17 05:13] #242 closed

[2022-10-17 10:22] #598 closed, assigned to DoubleLuXu

[2022-10-17 11:07] #599 closed, assigned to DerekYRC

[2022-10-19 06:53] andrewshan commented on #632
内网访问外网的服务，框架本身怎么知道我是从内网服务访问外网服务呢？

[2022-10-19 07:53] qnnn opened #653 "router模块实现全链路灰度使用问题"
使用各版本全链路灰度demo "polaris-router-grayrelease-example" 均无法实现
1. 关于规则设置，demo中只对"gateway"服务设置主调规则，观察到标签透传了，未找到规则的透传。
请问在"gateway"上的主调规则会透传吗，还是说所有的节点都需要配置这些规则

[2022-10-19 08:06] qnnn opened #654 "router模块实现全链路灰度使用问题"
使用各版本全链路灰度demo "polaris-router-grayrelease-example" 均无法实现
1. 关于规则设置，demo中只对"gateway"服务设置主调规则，观察到标签通过请求头透传了
请问在"gateway"上的主调规则会透传吗，还是说所有的节点都需要配置这些规则

[2022-10-19 08:43] #653 closed, assigned to nobody

[2022-10-19 08:44] chuntaojun commented on #654
是按照example中的命令创建的路由规则吗

[2022-10-19 08:47] qnnn commented on #654
2. 关于环境标识透传，第一跳的节点拥有环境env=green，它将自身的环境标识env=green放在请求头中，它是怎么确定第二跳还是env=green的节点的呢。（demo中没有为链路上的节点设置规则）。
请问是不是得在链路上的每个节点都设置（env=green->env=green .....）的规则，环境标识的透传是将第一跳的节点的环境标识覆盖掉它此次调用时整条链路的环境标识吗，（如env=green的下一跳节点不存在env=green，它路由到env=blue的节点，并透传其环境标识覆盖掉env=blue的节点，确保在下一跳时继续走env=green->env=green）

[2022-10-19 08:50] qnnn commented on #654
https://github.com/Tencent/spring-cloud-tencent/blob/2021.0/spring-cloud-tencent-examples/polaris-router-grayrelease-example/README-zh.md   根据该demo

[2022-10-19 08:51] qnnn commented on #654
根据该demo https://github.com/Tencent/spring-cloud-tencent/issues/654#issuecomment-1283646390

[2022-10-19 08:52] qnnn commented on #654
根据该demo做的  https://github.com/Tencent/spring-cloud-tencent/blob/2021.0/spring-cloud-tencent-examples/polaris-router-grayrelease-example/README-zh.md

[2022-10-19 08:58] qnnn commented on #654
3. 关于polaris规则类型。看了前几天新发的v1.12.0版本的polaris，自定义路由有许多变化，以往的主调规则跟被调规则被统一了，目前v1.12.0版本的polaris的规则，每个服务节点在sdk侧会拉取该命名空间下所有自定义路由规则去判断吗

[2022-10-19 09:14] davionchen commented on #632
讨论结果：

1、前置服务 通过北极星 可寻址到代理服务的IpPort。
2、考虑通过httpclient 重写URL(待确认)。
3、通过feign的request header，传递IpPort。上报时，再从request header取出来，作为updateServiceCallResult的上报参数。

[2022-10-19 10:05] pandaapo commented on #632
类似疑问：框架本身怎么知道此次访问的是需要重写的代理服务？

[2022-10-20 01:27] davionchen commented on #632
已调整

[2022-10-21 03:03] andrewshan opened #658 "support multi register and discovery both to nacos and polaris"
**What is the feature you want to add?**
support nacos and polaris discovery and register, similar to this feature: https://github.com/Tencent/spring-cloud-tencent/wiki/Multi-registration-and-multi-discovery

**Why do you want to add this feature?**
a mass percent of developers in spring cloud using nacos as registry, they want to transfer to polaris governance smoothly.

**How to implement this f

[2022-10-21 04:17] davionchen commented on #632
步骤2的验证结果：
利用DefaultRoutePlanner返回代理服务器地址，并通过反射机制调目标地址，调整后的目标地址为外网服务的HOST。
优点：不影响Fegin和Polaris的数据，只在ApacheHttpClient层进行修改。
缺点：引入反射机制，升级框架时，需小心。

[2022-10-21 04:24] andrewshan commented on #632
这个目标地址调整没有GET和SET方法是吧？针对哪个类的哪个成员进行反射设置？

[2022-10-22 03:53] gotoworld opened #659 "关于 router模块实现全链路灰度的学习"
cloud tencent 在东西向支持基于请求头标签特征的动态路由。是否 腾讯团队修改了微服务之间调用时负载和路由的策略实现，新增了基于默认的标签路由策略。

1、请问新增的标签路由策略对应的类是哪个，谢谢
2、是否有相关的分享文档

[2022-10-22 11:44] lingxiao-wu commented on #658
这个任务我可以试试，polaris-java支持nacos目前基于哪个分支开发啊？

[2022-10-22 14:19] chuntaojun commented on #658
社区已经有相关的 PR 在处理了，SCT 这里应该是后续需要升级对应的 polaris-java 依赖以及整理相关使用文档

[2022-10-23 11:24] davionchen commented on #632
方法原型：
[code]
HttpHost是不可变的，无修改入口。只能通过反射机制修改target对象的hostname、lcHostname、port、schemeName。

[2022-10-24 02:46] lepdou commented on #659
@gotoworld

是的。主要包含两部分实现：

1. 扩展服务调用框架（RestTemplate、Feign）的负载均衡Interceptor，使其能够传递路由上下文信息（标签）到后面具体的负载均衡器
2. 扩展 Ribbon、Spring LoadBalancer ，使其能够根据路由上下文实现动态路由。

文档&代码

1. 文档 https://github.com/Tencent/spring-cloud-tencent/wiki/Spring-Cloud-Tencent-Router-%E4%BD%BF%E7%94%A8%E6%96%87%E6%A1%A3
2. 代码主要在 router 模块里，可以仔细看一下。路由是 SCT 最复杂的模块，看起来估计会有点绕

[2022-10-31 02:08] chuntaojun opened #673 "Spring Cloud Tencent 的服务注册到北极星，使用 polaris-java的registerInstance 方法"
**What is the feature you want to add?**

- 将原本的 register 方法替换为 registerInstance 方法

**Why do you want to add this feature?**

**How to implement this feature?**

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-10-31 02:23] DerekYRC commented on #673
我来吧

[2022-10-31 02:55] DerekYRC commented on #673
@chuntaojun ```ProviderAPI#registerInstance```方法中会开启心跳检测的周期任务，改用该方法后是不是需要废弃是否启用心跳检测的开关```PolarisDiscoveryProperties#heartbeatEnabled```?

[2022-10-31 06:24] chuntaojun commented on #673
是的，设置废弃吧，已经不生效了

[2022-10-31 06:24] chuntaojun commented on #673
不过我记得 sct 这里允许用户先自己探测，然后再决定是否做心跳上报，这个要看看兼容问题

[2022-10-31 06:42] DerekYRC commented on #673
@chuntaojun registerInstance方法合并了注册和心跳上报逻辑，如果要考虑兼容问题允许用户探测再决定是否上报心跳，能不能修改registerInstance方法增加一个callback参数，注册逻辑执行成功后执行callback，callback执行成功再执行心跳上报逻辑？

或者有没有其他更好的建议？

[2022-10-31 07:03] chuntaojun commented on #673
先在 sct 做兼容吧，如果用户配置了自己的探测逻辑，那就转为老的接口调用，不然就全部转到新的 registerInstance

[2022-10-31 07:13] DerekYRC commented on #673
好的，总结下：
- 废弃是否启用心跳上报开关```PolarisDiscoveryProperties#heartbeatEnabled```
- 如果用户配置健康检查url```PolarisDiscoveryProperties#healthCheckUrl```，走老逻辑；否则使用新的```registerInstance```方法

[2022-10-31 12:02] michaelwangwangwang opened #678 "增加接口级别的熔断功能"
当服务某一接口连续返回请求超时等失败，我们希望此时框架能够自动熔断该接口，快速返回失败，避免流量持续打到有问题的接口中，造成资源阻塞，但服务的其它接口可以正常被访问、正常工作，也就是接口级别的熔断

[2022-11-01 01:42] DerekYRC commented on #678
不是已经支持接口级别的限流功能了吗？

[2022-11-01 02:52] SkyeBeFreeman opened #680 "【需求认领】使用 maven-shade-plugin 插件打包 spring-cloud-starter-tencent-all"
目前 `spring-cloud-starter-tencent-all` 的引入方式需要手动填写 `pom` ，可以使用 `maven-shade-plugin` 打包以支持 `jar` 方式引入，同时可以重命名包括但不仅限于 grpc、protobuf、guava 等依赖，以防止引入 `spring-cloud-starter-tencent-all` 带来的依赖冲突。

[2022-11-01 03:11] andrewshan commented on #658
### 关于NACOS-GROUP的处理

SDK：

- 服务名：group__service（北极星） = group, service（nacos）
- 服务名：service（北极星） = DEFAULT_GROUP, service（nacos）

SCT：

SCT从nacos的配置（spring.cloud.nacos.discovery.group）中读取GROUP：

- 假如GROUP为空或者为DEFAULT：传入服务名与现有逻辑一致，不拼接
- 假如GROUP为其他，则传入服务名为group__service

### 关于NACOS-CLUSTER的处理

SDK：

Java SDK从实例metadata中获取internal-nacos-cluster的值，假如存在，则作为实例的CLUSTER注册

SCT：

SCT从nacos配置（spring.cloud.

[2022-11-01 03:17] SkyeBeFreeman commented on #658
@lingxiao-wu [1.10.0-SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshots/com/tencent/polaris/polaris-dependencies/1.10.0-SNAPSHOT/)

[2022-11-01 03:49] lepdou opened #681 "【需求认领】配置中心反射模式下，支持删除配置文件、配置项"
# 现象
Spring Cloud 原生通过刷新 Context 和 Bean 的方式支持属性动态刷新，这种方式的缺点是影响面太大，需要重建所有的 bean。
SCT 优化了刷新属性的逻辑：

1. 通过反射调用的方式刷新 `@Value` 的属性
2. 对于 `@ConfigurationProperties` 配置类 bean，则通过 rebind 的方式，只 rebind 跟变更的配置项相关的 bean，而不是全量的bean

并在 1.7.0 版本之后，作为默认的刷新方式。

但是优化之后的方式 `@ConfigurationProperties` 不支持删除配置项。以 demo 为例：

**配置 person**
![image](https://user-images.githubusercontent.com/4991116/199152765-78ca59e7-c138-

[2022-11-01 03:57] dongyinuo commented on #681
认领一下

[2022-11-01 04:02] SkyeBeFreeman opened #682 "【需求认领】提升 spring-cloud-starter-tencent-polaris-router 模块的单元测试覆盖率"
- 目标提升到80%以上

<img width="744" alt="image" src="https://user-images.githubusercontent.com/24446200/199155995-aa884e60-f8d9-4a0b-b9ed-a0c1b9e6cbeb.png">

- 如何获取单侧覆盖率：
1. 项目根目录下运行`mvn test`
2. 项目根目录下用浏览器打开`target/site/jacoco/index.html`即可查看单侧覆盖率，点进去即可查看详细覆盖情况以作出补充

- 额外提供

需要额外提供更新后的单测覆盖率截图到 PR 下方

[2022-11-01 04:57] SkyeBeFreeman opened #683 "【需求认领】提升 spring-cloud-tencent-gateway-plugin 模块的单元测试覆盖率"
- 目标提升到80%以上

<img width="752" alt="image" src="https://user-images.githubusercontent.com/24446200/199162123-df7bb42d-e152-4bcd-b116-ae51aceb76fc.png">

- 如何获取单侧覆盖率：
1. 项目根目录下运行`mvn test`
2. 项目根目录下用浏览器打开`target/site/jacoco/index.html`即可查看单侧覆盖率，点进去即可查看详细覆盖情况以作出补充

- 额外提供

需要额外提供更新后的单测覆盖率截图到 PR 下方

[2022-11-02 04:40] lingxiao-wu commented on #658
好的，我拉取完研究一下

[2022-11-02 12:24] weihubeats commented on #680
I will finish it

[2022-11-02 13:34] lingxiao-wu commented on #658
我按照规则拼接完发现sdk没有将group和service拆开，nacos依旧注册到了DEFAULT_GROUP
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/51630311/199500835-b36d1193-465b-4ade-bd4e-293a94883702.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/51630311/199500951-802f87e5-b542-4d97-9776-09ebdd04584b.png">

<img width="1440" alt="image" src="https://user-images.githubuse

[2022-11-02 13:50] chuntaojun commented on #658
这个我们先提交改下 polaris-java

[2022-11-02 13:55] lingxiao-wu commented on #658
sdk 在shutdownhook中清理nacos注册信息时会出现npe，这是报错的堆栈信息
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/51630311/199507648-0159c76f-2106-4985-9a97-d311e4e4054f.png">

[2022-11-03 00:30] dongyinuo commented on #681
实现方案
1. 声明一个注解 比如 @RevertDefaultValue 用来表明 @ConfigurationProperties bean 支持删除属性 恢复默认值。后面若 spring 本身支持 删除恢复默认值， @RevertDefaultValue 此注即可失效
2. AffectedConfigurationPropertiesRebinder @ConfigurationProperties bean 存储其每个字都默认值
3. com.tencent.cloud.polaris.config.adapter.AffectedConfigurationPropertiesRebinder#rebindAffectedBeans 中 rebind 后，当为删除动作时，通过反射 设置 bean 的默认属性

[2022-11-03 01:45] #673 closed, assigned to DerekYRC

[2022-11-03 02:19] lepdou commented on #681
@dongyinuo
@RevertDefaultValue 是打在 bean 上面还是属性上面？我理解最好是不要额外加自定义的注解？所有的bean都默认支持可以删除属性，这样对用户来说：
1. 使用成本低，不需要额外的注解。而且绝大部分情况下，用户写@ConfigurationProperties时，并不会考虑删除属性的场景
2. 延续用户使用spring boot 的习惯

[2022-11-03 03:19] chuntaojun commented on #658
我今天修复下，重新发一个 SNAPSHOT

[2022-11-03 03:40] DerekYRC commented on #683
我来吧，估计下周才有开发时间。

[2022-11-03 08:31] chuntaojun commented on #658
@lingxiao-wu 新的 SNAPSHOT 以及发到 maven 仓库了，可以看看先支持下 2021 ？

[2022-11-03 16:04] DerekYRC commented on #683
@SkyeBeFreeman  分支覆盖率也要达到80%吗？

![image](https://user-images.githubusercontent.com/44155264/199772149-ff6c6a50-b065-49c4-8d73-c38a4f229302.png)

[2022-11-04 02:20] dongyinuo commented on #509
这个问题 不是 sct 的问题，是 fegin 的问题
### **问题定位**
1. idea diff (红框为新增代码)
<img width="1098" alt="image" src="https://user-images.githubusercontent.com/45160106/199870090-fca4f9ec-026e-4f7e-a09d-b48c8701bd43.png">
2. 通过 git diff 对比 2.2.1 vs 2.2.9 可以看到具体改动
<img width="923" alt="image" src="https://user-images.githubusercontent.com/45160106/199870235-4b28aac3-d548-4ca5-828b-6cb214f78c65.png">

### **问题引入是为了解决

[2022-11-04 03:16] dongyinuo commented on #509
已给 openfeign 提 issue
https://github.com/spring-cloud/spring-cloud-openfeign/issues/781

[2022-11-04 03:19] SkyeBeFreeman commented on #683
尽量都达到80%

[2022-11-04 03:19] #509 closed

[2022-11-04 03:23] chuntaojun commented on #248
https://github.com/polarismesh/polaris-java-agent/tree/spring-cloud-2021

目前的开发分支

[2022-11-04 07:14] weihubeats opened #696 "remove deprecated method"
**What is the feature you want to add?**
remove deprecated method
<img width="1366" alt="image" src="https://user-images.githubusercontent.com/42484192/199914568-da986f71-9095-405c-b7ee-14ce64efeda0.png">

**Why do you want to add this feature?**
remove deprecated method
**How to implement this feature?**
remove deprecated method
**Additional context**
Add any other context or screenshots about th

[2022-11-04 10:01] dongyinuo commented on #681
@lepdou
是的，大致设想是 @RevertDefaultValue 写在 bean 上支持，删除属性，恢复默认值。考虑点主要是 @ConfigurationProperties 利用spring 重新构建 bean 填充属性， 考虑到 1. 不修改 springboot 源码 2. 当 spring 支持对象属性不存在时， 重新构建bean 时，用其默认字段。到时只用 @RevertDefaultValue 作废，逐步移除相关代码即可

[2022-11-04 10:04] dongyinuo commented on #682
认领一下

[2022-11-04 10:25] dongyinuo commented on #681
我先 按照不需要 @RevertDefaultValue 实现一版

[2022-11-04 15:07] opcooc opened #700 "希望spring cloud tencent能尽早的适配springboot2.7.5"
https://github.com/polarismesh/polaris/issues/781#issue-1434392105

[2022-11-05 01:12] SkyeBeFreeman commented on #700
可以使用 Spring Cloud Tencent 1.8.1-2021.0.3 版本

[2022-11-05 08:13] opcooc commented on #700
好的 我试试 谢了

[2022-11-05 08:13] #700 closed, assigned to nobody

[2022-11-07 02:24] dongyinuo commented on #696
这个有人认领了吗？

[2022-11-08 09:11] luchaoyi9251 opened #709 "什么时候适配springboot2.7.x"
新项目使用的springboot2.7.x，发现似乎目前支持到springboot2.6.x

[2022-11-08 10:31] #683 closed, assigned to DerekYRC

[2022-11-08 10:33] SkyeBeFreeman commented on #696
weihubeats已经做了提交

[2022-11-08 12:29] gotoworld commented on #659
@lepdou 非常感谢，很有帮助

[2022-11-08 12:29] #659 closed, assigned to lepdou

[2022-11-09 01:52] SkyeBeFreeman commented on #709
我们这边验证一下，使用 `1.8.1-2021.0.3`

[2022-11-09 02:44] #696 closed, assigned to weihubeats

[2022-11-09 03:03] #248 closed

[2022-11-09 03:18] lepdou opened #712 "【需求认领】 2020/2021 版本 RestTemplate 支持 spring-retry 熔断能力"
# 背景

spring-retry 是广泛使用的重试和熔断框架。在以下场景压测的时候发现，Hoxton 版本基本能做到无错误请求，但是 2020/2021 小部分请求会失败。

- 压测场景：A 调 B，B有两个实例 B1，B2。压测过程中，kill B1。

## 原因

Hoxton 版本默认用的 Netflix ribbon 负载均衡器，内置了熔断的能力，核心代码逻辑如下：

1. 重试核心入口：
![image](https://user-images.githubusercontent.com/4991116/200725964-a5750d15-319b-47b5-a8c7-59f11660b0c7.png)

2. Ribbon 处理异常
![image](https://user-images.githubusercontent.com/4991116/200727923

[2022-11-09 03:47] justinchenan opened #713 "控制台是否有开源呢"
我在文档里面发现有前端的可视化控制台 , 但是在这个项目里面并没有看到相关代码 , 前端部分没有开源吗

[2022-11-09 04:34] SkyeBeFreeman commented on #713
@justinchenan 前端代码开源在这里：https://github.com/polarismesh/polaris-console

[2022-11-09 06:43] dongyinuo commented on #712
需要的话，我可以认领，不过需要 下周才能介入

[2022-11-09 08:15] ruansheng8 commented on #713
感谢

[2022-11-09 11:56] SkyeBeFreeman commented on #709
这里看了下是支持的，版本文档也已更新，可以对比一下自己的 Spring Boot 版本。[Spring Cloud Tencent 版本管理](https://github.com/Tencent/spring-cloud-tencent/wiki/Spring-Cloud-Tencent-%E7%89%88%E6%9C%AC%E7%AE%A1%E7%90%86)

[2022-11-09 12:08] vitaswan opened #714 "多注册中心是否支持nacos,需求是注册中心需要从nacos迁移到polaris"

[2022-11-09 13:52] chuntaojun commented on #714
已经有PR在支持了

[2022-11-09 13:52] chuntaojun commented on #714
https://github.com/Tencent/spring-cloud-tencent/pull/693

[2022-11-10 02:03] SkyeBeFreeman commented on #714
Same as #658

[2022-11-10 02:03] #714 closed, assigned to nobody

[2022-11-10 02:39] SkyeBeFreeman commented on #712
可以的，不过这里建议先调研和复现一下，看看为啥会小部分请求会失败，然后抛出来讨论一下

[2022-11-10 02:39] lepdou commented on #712
@dongyinuo

可以的哈，时间上不急的~ 感谢

[2022-11-14 02:28] #681 closed, assigned to dongyinuo

[2022-11-14 07:21] herodotus-ecosystem commented on #709
适配 2.7 不是什么问题。 适配 3.0 才是难点。还有10天发布。

[2022-11-15 03:15] #713 closed, assigned to nobody

[2022-11-17 01:55] SkyeBeFreeman commented on #709
适配 3.0 已在进行中，可以查看 2022 分支。欢迎参与开源共建🚀

[2022-11-21 11:03] lepdou commented on #709
目前已经初步完成 Spring Cloud 2022 版本适配。适配 Spring 6.0，Spring boot 3.0 ，有兴趣的同学可以用 2022.0 分支体验一下

[2022-11-22 01:19] chuntaojun opened #733 "rebinder found 2"
**Describe the bug**
A clear and concise description of what the bug is.

https://github.com/polarismesh/polaris-java/issues/252

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment**
- Version: [e.g. v1.0.0]
- OS: [e.g. CentOS8]

**Additional context**
Add any other context about the problem here.

[2022-11-22 08:12] DerekYRC commented on #733
在```PolarisConfigAutoConfiguration#affectedConfigurationPropertiesRebinder```方法上加个```@Primary```注解就可以了吧，我来加下吧

[2022-11-23 07:47] lepdou opened #735 "📣 开放讨论📣 Spring Cloud 2022 它来了，你关注吗？"
# 导语
`Spring Framework 6.0` 已于近期正式发布 GA 版本，按照原定计划，`Spring Boot 3.0` 也将会在 `11月24日` 正式 GA。紧接着 `Spring Cloud 2022` 也将会跟进发布，至此：

[code]

将会成为下一代主流的 Java 技术栈。

# 纯文明开放技术讨论

您有任何关于 Spring 相关的想法，都可以直接在 Issue 下留言回复讨论。

- 有人觉得 Spring 给 Java 提供了强大的支持，有人则觉得Java 本身不重，但是有了 Spring 这套技术栈，变的非常臃肿，导致学习门槛变高，使用门槛变高。Spring 的孰是孰非您觉得呢？

- 现如今是云原生时代，Go 等语言更加贴近云原生。Java 已是廉颇老矣？

- 如今互联网行业寒冬，会不会同时降低企业主、技术人员对于新技术的学习热情？“不折腾了，

[2022-11-23 07:53] lepdou commented on #735
📣 欢迎大家加入讨论~

[2022-11-23 07:56] DerekYRC commented on #735
Java别跑太快，等一等灵魂，我还在用Java8

[2022-11-23 07:59] lepdou opened #736 "📣 开放讨论📣 Spring Cloud 2022 它来了，你关注吗？"
# 导语
`Spring Framework 6.0` 已于近期正式发布 GA 版本，按照原定计划，`Spring Boot 3.0` 也将会在 `11月24日` 正式 GA。紧接着 `Spring Cloud 2022` 也将会跟进发布，至此：

[code]

将会成为下一代主流的 Java 技术栈。Spring Cloud Tencent 适配 Spring Cloud 2022 第一个版本（1.8.1-2022.0.0-RC2）已发布。

# 纯文明开放技术讨论

您有任何关于 Spring 相关的想法，都可以直接在 Issue 下留言回复讨论。

- 有人觉得 Spring 给 Java 提供了强大的支持，有人则觉得Java 本身不重，但是有了 Spring 这套技术栈，变的非常臃肿，导致学习门槛变高，使用门槛变高。Spring 的孰是孰非您觉得呢？

- 现如今是云原生时代，G

[2022-11-23 08:00] lepdou commented on #735
@DerekYRC 重新开了一个 issue，这个issue 显示历史标题更改记录，有点乱(⊙o⊙)…

[2022-11-23 08:00] lepdou commented on #735
这个我先关了

[2022-11-23 08:00] #735 closed, assigned to nobody

[2022-11-23 08:01] lepdou commented on #736
📣 欢迎大家畅所欲言，加入讨论~

[2022-11-23 08:06] ghost commented on #736
你发任你发，我用Java8

[2022-11-23 08:10] DerekYRC commented on #736
哪位小伙伴能准备给出云原生的定义吗？

[2022-11-23 08:10] wenyu7980 commented on #736
spring层面：Spring native会是未来吗？
java层面：虚拟线程是未来，响应式编程能否一战？

[2022-11-23 08:12] youtaqiu commented on #736
基于graalvm的spring native,看起来解决了内存占用高,启动速度慢的问题,但是兼容性是一个大问题,同时编译打包的速度应该会慢很多.不过大方向应该没错.

[2022-11-23 08:13] lepdou commented on #736
哈哈，我感觉云原生这个概念被妖魔化了。这年头不搭上“云原生”，技术就是落后的。各种云原生，比如云原生中间件、云原生数据库。。。

[2022-11-23 08:15] lxcecho commented on #736
有些企业压根用不上云原生，感觉这玩意儿被魔化了...

[2022-11-23 08:16] lepdou commented on #736
感觉大部分人简单定义“跑在 k8s 上，就是云原生”？

[2022-11-23 08:31] SkyeBeFreeman commented on #736
个人拙见，抛砖引玉哈~

- 狭义上，云原生是 CNCF 基金会下的开源项目。
- 广义上，云原生是一个，计算资源可灵活分配和调度、应用服务可观测可弹性伸缩、DevOps可便捷操作，的软件系统。

[2022-11-23 08:38] magestacks commented on #736
宽泛来说，这个算是容易明白的。

![wecom-temp-209993-b6e383c33af1925e5d8e696dfab8d416](https://user-images.githubusercontent.com/77398366/203502530-93ade7f7-496d-4e58-b754-96918ad896f5.jpg)

[2022-11-23 08:49] 77321660 commented on #736
2021升级到2022，已有的工程修改量有多大？

[2022-11-23 09:00] lepdou commented on #736
SCT 我改造了一把，还好。主要就是 javax 的改改

[2022-11-23 11:09] lwl8023 commented on #736
all in native

[2022-11-23 11:25] vitaswan opened #737 "多注册中心支持将nacos中的namespace映射到指定的polaris的环境类型"
多注册中心支持将nacos中的namespace映射到指定的polaris的环境类型,目的是在不改变现有系统nacos的namespace情况下，方便将现有系统的nacos迁移到polaris

[2022-11-24 05:37] misselvexu commented on #736
Mark

[2022-11-24 12:07] weihubeats commented on #736
云原生: 用go都是云原生(手动狗头)

[2022-11-24 12:41] albert-get commented on #733
thanks,my pom.xml
    <dependencies>
        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter</artifactId>
        </dependency>
        <dependency>
            <groupId>org.spr

[2022-11-25 02:23] herodotus-ecosystem commented on #709
大佬们，Spring Cloud 2022 版本适配，适配差不多，能不能先发个 M 版，或者 RC版。自己的微服务框架，原先用的 ali 系（更新太慢），打算先改动到 tencent，能跑起来之后，慢慢了解熟悉。熟悉之后再来参与个贡献。

[2022-11-25 02:36] lepdou commented on #733
好的，感谢~

[2022-11-25 02:39] lepdou commented on #709
@herodotus-cloud
 没问题。我们内部跑个自动化回归一下之后，下周发个M版本之类的，到时候通知你

[2022-11-25 03:51] herodotus-ecosystem commented on #709
效率真高！那我也提前学习学习 spring cloud tencent。

[2022-11-25 05:44] herodotus-ecosystem commented on #736
### 升级 spring cloud 2022 大多数问题都不大。我总结下来就几类问题：

1. 更换 JDK 17 后，少部分第三方依赖包版本选择和控制问题
2. javax 等包名变更 jakarta 问题（就是体力活加上强迫症），不改也行。
3. 新依赖包过时代码替换。大多数没问题，就怕遇到像 spring security 6 用法的变化。
4. starter 自动配置注册格式不同导致的，大多数第三方依赖都倒在这里
5. 最怕的就是核心机制的变化，比如说反射。好像一些反射在 JDK 17 会有问题。
6. 最大的问题就是基础设置组件升级不同步或者缓慢问题，比如说 spring cloud alibaba。这可能会导致更换组件，修改配置等。(还是 spring cloud tencent 响应快，我正打算换过来试试)
7. 如果还要考虑向下的兼容性，怕就难了。

[2022-11-25 06:16] youtaqiu commented on #736
目前想使用SCT快照版,应该如何配置呢?

[2022-11-25 06:36] SkyeBeFreeman commented on #736
@youtaqiu 可以参考这个[pom.xml](https://github.com/Tencent/spring-cloud-tencent/blob/2022.0/pom.xml)底部的 `<repositories>` 和 `<pluginRepositories>` 配置拉取快照版的Maven仓库，即可引入类似`1.8.1-2022.0.0-SNAPSHOT`的快照版SCT。

[2022-11-25 06:46] youtaqiu commented on #736
@SkyeBeFreeman 谢谢.这种的我知道.关心的是有无类似spring公开的快照仓库.没有的话只能自己构建了.

[2022-11-25 07:33] SkyeBeFreeman commented on #736
SCT快照版上传到 https://oss.sonatype.org/content/repositories/snapshots/ 这个中央仓库，可供拉取，详见：https://oss.sonatype.org/content/repositories/snapshots/com/tencent/cloud/

[2022-11-25 12:28] SkyeBeFreeman commented on #736
Pre release of Spring Cloud Tencent v1.8.1 supporting Spring Cloud 2022.0.0-RC2 is here [1.8.1-2022.0.0-RC2](https://github.com/Tencent/spring-cloud-tencent/releases/tag/1.8.1-2022.0.0-RC2).

[2022-11-25 12:47] tian-qingzhao opened #742 "polaris服务已经停掉，consumer还能调用到provider"
polaris服务端已经停掉了，客户端的服务调用者还能正常调用到服务提供者，且服务调用者通过springcloud服务发现往下跟踪，发现还能正常返回所有的实例，即使我把服务提供者的某一个实例下线掉，也能正常返回。请问有开关可以设置只获取健康的实例吗？
![image](https://user-images.githubusercontent.com/57293296/203988722-223846a7-b537-4c8e-b93d-a60e5c8009fe.png)

[2022-11-26 03:41] SkyeBeFreeman commented on #742
由于polaris服务端下线，SCT便使用本地文件存储的服务实例信息进行调用（polaris/backup/文件夹下存放本地缓存）。由于polaris服务端下线，因此无法判定被调服务实例是否正常运行。如果想不调用到不可用实例，可以尝试使用熔断模块（`spring-cloud-starter-tencent-polaris-circuitbreaker`）。

[2022-11-26 03:44] tian-qingzhao commented on #742
还需要引入其他模块，这样子看起来可能不是很友好吧，希望后续的功能可以支持吧。

[2022-11-27 09:15] herodotus-ecosystem commented on #736
感谢！正在试着用 spring cloud tencent 做改造了。

[2022-11-28 06:29] herodotus-ecosystem opened #745 "低版本 grpc-all 携带 CVE-2022-3171 安全漏洞"
## 版本

spring-cloud-tencent： 1.8.1-2022.0.0-SNAPSHOT

## 问题

目前正在使用 spring-cloud-tencent 做个人项目的 spring boot 3 和 spring cloud 2022.0.0 的适配工作。

发现 `spring-cloud-starter-tencent-polaris-discovery` 和 `spring-cloud-starter-tencent-polaris-config` 包中依赖了 1.33.0 版本的 `grpc-all`

而且 `grpc-all` 中的组件 `grpc-protobuf` 又依赖了 3.16.1 版本的 `protobuf-java`。该版本的 `protobuf-java` 已经报出 CVE-2022-3171 安全漏洞问题。

所以想咨询一下：

1.

[2022-11-28 06:30] herodotus-ecosystem commented on #745
![image](https://user-images.githubusercontent.com/11025512/204209002-556a0d04-8e7f-43d0-9d15-304557776d7c.png)

[2022-11-28 06:47] lepdou commented on #745
@herodotus-cloud
其它分支已经升级了 #717 ，将会在下一个版本 1.9.0 里发布。

2022分支的话，也会将在下一个 1.9.0 版本里同步升级掉，保持各个分支的一致性。

[2022-11-28 07:21] herodotus-ecosystem commented on #745
好的，收到！

[2022-11-28 07:21] #745 closed, assigned to nobody

[2022-11-28 07:31] lepdou commented on #736
@herodotus-cloud
1.8.1-2022.0.0-RC2 已经发布正式版到中央仓库啦~

[2022-11-29 06:04] Loongphy commented on #736
Javax 替换成 Jakarta也不算体力活，IDEA提供了相应的工具
https://www.jetbrains.com/idea/guide/tutorials/migrating-javax-jakarta/use-migration-tool/

[2022-11-29 07:08] lfift commented on #736
可以从nacos平滑迁移吗

[2022-11-29 13:44] herodotus-ecosystem opened #753 "local-file-root-path 参数设置不生效。"
## 环境

- Java 17 （liberica openjdk）
- Spring Boot 3.0.0
- Spring Cloud 2022.0.0-RC2
- Spring Cloud Tencent 1.8.1-2022.0.0-RC2
- Docker polarismesh/polaris-server-standalone (latest)
- Idea

## 问题

使用 spring cloud tencent 做服务发现和配置中心。在 polaris 中配置完成相关配置后，在本地 idea中启动服务，运行正常。

相关服务停止之后，会在本地工程中新建一个目录 `./polaris/backup/config` 里面存储了配置和锁定等数据。因 polarismesh/polaris-server-standalone 不支持持久化，存储在本地也可以理解。

我想更

[2022-11-30 02:35] lepdou commented on #753
@herodotus-cloud

答：首先 standalone 是北极星服务端的部署模式，跟客户端的 ./polaris/backup/config 缓存是两码事儿。客户端 ./polaris/backup/config 缓存主要是为了当北极星服务端挂了之后，可以读取本地缓存。

答：首先 local-file-root-path 是用于配置中心本地开发模式时，指定读取本地的配置文件目录。本地开发模式主要用于不想连北极星服务端读取配置，而是直接从本地磁盘读取配置文件，用于例如在飞机上这种没有网络，或者为了开发者之间互相隔离的场景。不是用于指定本地的缓存目录。
可以参考文档。[本地开发模式](https://github.com/Tencent/spring-cloud-tencent/wiki/Spring-Cloud-Tencent-Config-%E4%BD%BF%E7%94%A8

[2022-11-30 02:42] lepdou commented on #742
@tian-qingzhao
当北极星服务端挂掉了，还能正常服务调用，这个是符合预期的基础容灾机制。试想如果注册中心挂了，所有服务调用失败了，那问题更大了。所有公司的注册中心都是这么设计的。

当北极星服务端挂掉的这段时间，服务提供者下线的事件，调用者肯定感知不到，这也是符合预期的。

理论上，当北极星服务端挂了，应该紧急处理故障：
1. 此时应该封锁paas 平台，不允许服务上下线
2. 紧急立马恢复北极星服务端

服务调用端引入熔断是锦上添花的操作，并不是作为容灾处理的常规手段。

[2022-11-30 02:48] chuntaojun commented on #736
可以参考这个文档：https://polarismesh.cn/docs/%E6%9C%80%E4%BD%B3%E5%AE%9E%E8%B7%B5/%E5%AD%98%E9%87%8F%E6%9C%8D%E5%8A%A1%E8%BF%81%E7%A7%BB/nacos/

[2022-11-30 08:14] herodotus-ecosystem commented on #753
明白了，感谢你的回复！

[2022-11-30 08:14] #753 closed, assigned to nobody